html {overflow-y: scroll;}
@media (max-width: 1024px) {
	body {height: 100%;}
	html, body {margin: 0px; padding: 0px; border: 0px; overflow-x: hidden;}
	body,p {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
	}
	a {
		color: #336633;
		text-decoration: none;
	}
	p {text-align: justify;}
	#logo, #canvas, #main-heading, #category-heading, #brand-heading, #facebook, #end, #forum-side, #footer-desktop, #links-desktop {
		display: none;
	}
	#content {
		width: 100%;
		height: 100%;
		margin: 0px;
	}
	#div-search #submit {
		margin-right: 5%;
	}
	#search {
		margin-top: 1em;
		margin-left: 5%;
		width: 50%;
		height: 20px;
	}
	#back-handle {
		position: fixed;
		height: 100%;
		width: 75%;
		z-index: 3;
		-webkit-transform: translate3d(0,0,0);
		left: -75%;
	}
	#sidebar {
		box-shadow:inset 0px 0px 50px 5px #000;
		overflow-y: scroll;
		left: -75%;
		top: 0px;
		position: fixed;
		z-index: 4;
		/*-webkit-transform: translate3d(0,0,0);*/
		height: 100%;
		width: 75%;
		background: #444444;
		border-right: 1px solid #444444;
	}
	#sidebar ul {
		margin-right: 10px;
		margin-left: 10px;
		list-style: none;
		padding-left: 0px;
	}
	#sidebar li a {
		display: block;
		color: white;
	}
	#sidebar li a:before {
		content: "";
	}
	#sidebar li {
		border-top: 1px solid white;
		width: 100%;
		font-size: 3.75vw;
		line-height: 7vw;
		height: 7vw;
		color: white;
	}
	#sidebar li:nth-of-type(1) {
		font-weight:bold;
		border-top-width: 0px;
	}
	#footer {
		font-size: 9px;
		text-align: center;
	}
	#content>:nth-child(3):not(#main-img) {margin-top: 77px;}
	#content>:not(:nth-child(1)):not(.margined) {margin-left: 5px;margin-right: 5px;}
	.threecontent div {margin-bottom: 5px;}
}
@media (min-width: 1025px) {
	html {
		height: 100%;
	}
	body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
		background-color: black;
		background-image: url("/static/images/wood.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-background-size: 100% auto;
		-moz-background-size: 100% auto;
		-ms-background-size: 100% auto;
		-o-background-size: 100% auto;
		background-size: 100% auto;
	}
	a {
		color: #336633;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	#mobile-header, #sidebar-before, #footer-mobile, #links-mobile {
		display: none;
	}
	#center {
		width: 1025px;
		height: 100%;
		margin: 0 auto;
	}
	#header {
	}
	#logotext {
		color: white;
	}
	#logo {
		text-align: center;
	}
	#logo img {
		width: 50%;
	}
	#sidebar, #content {
		margin: 15px;
		background-color: white;
		box-shadow: 0 0 0 5px hsl(0, 0%, 80%);
		border-radius: 25px;
	}
	#sidebar ul {
		list-style: none;
		padding-left: 0;
		padding-right: 15px;
	}
	#sidebar li: before {
		content: '\25b6\a0';
		color: grey;
	}
	#sidebar a {
		text-decoration: none;
		color: grey;
	}
	#sidebar {
		padding: 5px 35px 5px 15px;
	}
	#div-search {
		margin-top: 25px;
		text-align: center;
	}
	#search {
		height: 2%;
		width: 50%;
		border-radius: 5px;
		border: none;
		padding-left: 10px;
	}
	#mainleft {
		position: fixed;
		width: 290px;
	}
	#mainright {
		margin-left: 290px;
		width: 65%;
	}
	#content {
		min-height: 515px;
		padding: 5px 15px 10px 35px;
	}
	#brand {
		float: left;
	}
	#new, #gallery, #forum {
		width: 32%;
		margin-right: 2%;
		float: left;
	}
	#forum {
		margin-right: 0;
	}
	#footer {
		position: relative;
		margin-top: 10px;
		clear: both;
		text-align: center;
		color: #FFFFFF;
		font-size: 9px;
	}
}
@media (min-width: 513px) and (max-width: 1024px) {
	#footer-mobile li,#links-mobile li {
		font-size: 3.5vw;
	}
}
@media (max-width: 512px) {
	#footer-mobile li,#links-mobile li {
		font-size: 5vw;
	}
}
#feature {
	text-align: center;
}
#feature>h1 {
	text-align: left;
}
#product-title {
	font-weight: bold;
}
#mission {
	margin-bottom: 10px;
}
#mobile-header {
	z-index: 2;
	top: 0px;
	background-color: #1D432F;
	width: 100%;
	height: 72px;
	line-height: 72px;
	position: fixed;
	color: white;
}
#mobile-header a {
	color: white;
}
#mobile-header-left {
	font-size: 36px;
	text-align: left;
	float: left;
	line-height: 72px;
	width: 14%;
	padding-left: 1%;
}
#mobile-header-center {
	float: left;
	width: 70%;
	text-align: center;
}
#mobile-header-center img {
	height: 56px;
	vertical-align: middle;
}
#mobile-header-right {
	float: left;
	font-size: 48px;
	line-height: 64px;
	width: 14%;
	padding-right: 1%;
	text-align: right;
}
#links li:nth-of-type(1) a { font-weight: bold; }
#footer-mobile, #links-mobile {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#links-mobile li:nth-child(1) {
	width: 100%;
}
#footer-mobile li:nth-child(odd), #links-mobile li:nth-child(odd) {
	float:right;
	border-left: 1px solid white;
}
#links-mobile li:nth-of-type(1) {
	border-bottom:1px solid white;
}
#footer-mobile li, #links-mobile li {
	display: block;
	width: 50%;
	background-color: #1D432F;
	margin: 0;
	padding: 0;
	float: left;
	height: 40px;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
					box-sizing: border-box;
}
#footer-mobile li:before, #links-mobile li:before {
	content: "";
}
#footer-mobile a, #links-mobile a {
	text-decoration: none;
	line-height: 40px;
	height: 100%;
	width: 100%;
	display: block;
	color: white;
}
#links  {
	text-align: center;
}
#links-desktop {
	list-style: none;
	padding: 0;
	margin: 0 15px;
}
#links-desktop  li {
	display: inline;
}
#links-desktop  li:before {
	content: '|';
	color: white;
}
#links-desktop  li:nth-of-type(1):before {
	content: '';
}
#links-desktop  li:nth-of-type(1) a {
	padding: 0;
}
#links-desktop  a {
	color: white;
	font-size: 10px;
	text-decoration: none;
	padding-left: 5px;
}
#footer-desktop {
	list-style: none;
	padding: 0;
}
#footer-desktop li {
	display: inline;
}
#footer-desktop li:before {
	content: '|';
	color: white;
}
#footer-desktop li:nth-of-type(1):before {
	content: '';
}
#footer-desktop li:nth-of-type(1) a {
	padding: 0;
}
#footer-desktop a {
	color: white;
	font-size: 10px;
	text-decoration: none;
	padding-left: 5px;
}
#footer-desktop a:hover, #links-desktop a:hover, .more:hover, #sidebar a:hover {
	text-decoration: underline;
}
#image img {
	max-width: 100%;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.more {
	padding: 2px 15px;
	background-color: grey;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
}
