@media (max-width: 1024px) {
  #category-title {
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid black;
  }
  #category-table-mobile {
    width: 100%;
  }
  #category-table-mobile img {
    width: 100%;
  }
  .product {
    border-bottom: 1px solid black;
    padding-left: 2%;
    padding-right: 2%;
  }
  .product>a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
  }
  .product-img {
    float: left;
    width: 30%
  }
  .product-text {
    float: right;
    width: 67%;
    margin-left: 3%
  }
  .product-title {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-top: .66em;
    margin-bottom: 0em;
  }
  #category-table-desktop {
    display: none;
  }
}
@media (min-width: 1025px) {
  #category-table-mobile {
    display: none;
  }
  #category-table-desktop {
    width: 100%;
  }
  #category-table-desktop td {
    font-size: 12px;
    width: 33%;
    text-align: center;
    vertical-align: top;
    position: relative;
    padding-top: 10px;
  }
  .product-overlay {
    position: absolute;
    width: 94%;
    height: 180px;
    background-color: transparent;
    color: transparent;
    z-index: 5;
    text-align: justify;
    padding: 5px;
    display: block;
    padding: 5px 3%;
  }
  .product-overlay:hover {
    background-color: rgba(102,51,0,.9);
    color: white;
    text-decoration: none;
    -webkit-animation: fadein .3s;
       -moz-animation: fadein .3s;
        -ms-animation: fadein .3s;
         -o-animation: fadein .3s;
            animation: fadein .3s;
  }
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  .product-overlay a {
    color: transparent;
  }
  .product-overlay:hover a {
    color: white;
  }
  #category-table-desktop img {
    height: 150px;
  }
}
