html {overflow-y:scroll;}
@media (max-width: 1024px) {
	body {height:100%;}
	html, body { margin: 0px; padding: 0px; border: 0px; overflow-x: hidden; }
	body,p {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
	}
	a {
		color:#336633;
		text-decoration:none;
	}
	p { text-align:justify; }
	#logo, #canvas, #main-heading, #desktop-search, #category-heading {
		display: none;
	}
	#content {
		width:100%;
		height:100%;
		margin: 0px;
	}
	#sidebar-before {
		height:50px;
		margin-right:1%;
		color:white;
		font-size:36px;
		float:right;
	}
	#sidebar {
		overflow-y:scroll;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin-left:-100%;
		position:fixed;
		z-index:3;
		height:100%;
		width:100%;
 		background:rgba(29,67,47,.9);
	}
	#sidebar ul {
		list-style:none;
		padding-left:5px;
		margin-top:38px;
	}
	#sidebar li a {
		display:block;
		color:white;
	}
	#sidebar li a:before {
		content:"";
	}
	#sidebar li {
		border-top:1px solid white;
		width:100%;
		clear:right;
		height:50px;
		line-height:50px;
		font-size:2em;
		color:white;
	}
	#footer {
		font-size:9px;
		text-align:center;
	}
	#footer ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
	}
	#footer li {
		display:inline;
		text-indent: -1em;
	}
	#footer li:before {
		content: "|";
		padding-right: 5px;
	}
	#footer li:nth-child(1):before {
		content: "";
		padding-right: 0px;
	}
	#mobile-header {
		z-index:2;
		top:0px;
		background-color:#1D432F;
		width:100%;
		height:72px;
		position:fixed;
		color:white;
	}
	#mobile-header a {
		color:white;
	}
	#mobile-header-left {
		font-size:36px;
		height:72px;
		line-height:72px;
		text-align:left;
		float:left;
		height:72px;
		line-height:72px;
		width:8%;
		padding-left:1%;
	}
	#mobile-header-center {
		float:left;
		width:82%;
		text-align:center;
	}
	#mobile-header-right {
		float:left;
		font-size:48px;
		height:72px;
		line-height:64px;
		width:8%;
		text-align:right;
	}
	#mobile-search {
		color: white;
		float: left;
		width: 80%;
		height: 50px;
		line-height: 50px;
	}
	::-webkit-input-placeholder { font-size:14px; }
	::-moz-placeholder { font-size:14px; }
	:-ms-input-placeholder { font-size:14px; }
	input:-moz-placeholder { font-size:14px; }
	input { font-size:14px; }
	#content>:nth-child(3):not(#main-img) { margin-top:77px; }
	#content>:not(:nth-child(1)):not(.margined){margin-left:5px;margin-right:5px;}
	#links{display:block;font-size:9px;text-align:center;border-top:1px solid grey;padding-top:5px;}
	#links ul{list-style:none;margin:0;padding:0;}
	#links li{display:inline;text-indent:-1em;}
	#links li:nth-child(1):before{content:"";padding-right:0px;}
	#links li:before{content:"|";padding-right:5px;}
	.threecontent div { margin-bottom:5px; }
}
@media (min-width: 1024px) {
	html {
		height: 100%;
	}
	body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #000000;
		background-image: url('images/wood.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	a {
		color:#336633;
		text-decoration:none;
	}
	a:hover {
		text-decoration:underline;
	}
	#mobile-header, #sidebar-before, #mobile-search {
		display: none;
	}
	#center {
		width: 1025px;
		height: 100%;
		margin: 0 auto;
	}
	#header {
	}
	#logotext {
		color: white;
	}
	#logo {
		text-align: center;
	}
	#links {
		text-align: center;
		margin: 0 15px;
	}
	#links ul {
		list-style: none;
		padding: 0;
	}
	#links li {
		display: inline;
	}
	#links li:before {
		content: '|';
		color: white;
	}
	#links li:nth-of-type(1):before {
		content: '';
	}
	#links li:nth-of-type(1) a {
		padding: 0;
	}
	#links a {
		color: white;
		font-size: 10px;
		text-decoration: none;
		padding-left: 5px;
	}
	#sidebar, #content {
		margin: 15px;
		background-color: white;
		box-shadow: 0 0 0 5px hsl(0, 0%, 80%);
		border-radius: 25px;
	}
	#sidebar ul {
		list-style: none;
		padding-left: 0;
		padding-right: 15px;
	}
	#sidebar li:before {
		content: '\25b6\a0';
		color: grey;
	}
	#sidebar a {
		text-decoration: none;
		color: grey;
	}
	#sidebar {
		padding: 5px 35px 5px 15px;
	}
	#desktop-search {
		margin-top: 25px;
		text-align: center;
	}
	#mainleft {
		position: fixed;
		width: 290px;
	}
	#mainright {
		margin-left:290px;
		width: 65%;
	}
	#content {
		min-height: 515px;
		padding: 5px 15px 10px 35px;
	}
	#mission {
	}
	#brand {
		float: left;
	}
	#new, #gallery, #forum {
		width: 30%;
		margin-right: 10px;
		float: left;
	}
	.more:hover, #sidebar a:hover, #links a:hover {
		color:#D3D3D3
	}
	#footer {
		position:relative;
		margin-top:10px;
		clear:both;
		text-align:center;
		color: #FFFFFF;
	    text-decoration: none;
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size:9px;
	}
	#footer ul {
		list-style: none;
		padding: 0;
	}
	#footer li {
		display:inline;
	}
	#footer li:before {
		content: '|';
		color: white;
	}
	#footer li:nth-of-type(1):before {
		content: '';
	}
	#footer li:nth-of-type(1) a {
		padding: 0;
	}
	#footer a {
		color: white;
		font-size: 10px;
		text-decoration: none;
		padding-left: 5px;
	}
	#footer a:hover {
		text-decoration: underline;
	}
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.more {
	padding: 2px 15px;
	background-color: grey;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
}