div#sidebar {
	position:relative;
	float:left;
	background-color:#1D432F;
	text-align:center;
	width:160px;
	color:#FFFFFF;
	margin-top:1px;
	padding-bottom:5px;
}
div#sidebar a:link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:9px;
}
div#sidebar a:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-size:9px;
}
div#sidebar a:hover {
    text-decoration: none;
    color: #C0C0C0;
    font-size:9px;
}
div#sidebar a:active {
    text-decoration: none;
    color: #C0C0C0;
    font-size:9px;
}