<html lang="en">
	<head>
		<title>Peintures Swing Paints - Erreur 401 Error</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<style>
			div{text-align:center;color:white;}
			a:hover{text-decoration:underline;}
			a{color:white;}
		</style>
	</head>
	<body bgcolor="#C1C1C1">
		<div style="color:#FFFFFF;font-weight:bold;padding:100px;font-size:36px;">
			401<br /><br />
			Credentials Required.<br /><br />
			Références Requises.
		</div>
		<div>
			[ <a href="/login">Login | Connectez</a> ]<br />
			[ <a href="/home">Home | Acceuil</a> ]<br />
			[ <a href="javascript:history.back()">Back | Retour</a> ]
		</div>
	</body>
</html>
