<html>
<head>
<title>Swing Paints Frequently Asked Questions</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script LANGUAGE="JavaScript">
function popupwindow3(){
window.open("newsletter.htm","","height=310,width=435,menubar=0,resizable=0,scrollbars=0, status=0,titlebar=0,toolbar=0,left=0,top=0")
}
</script>
<script LANGUAGE="JavaScript">
function popupwindow4(){
window.open("refer_a_friend.htm","","height=310,width=540,menubar=0,resizable=0,scrollbars=0, status=0,titlebar=0,toolbar=0,left=0,top=0")
}
</script>
<body bgcolor="#FFFFFF">
<table cellpadding="0" cellspacing="0" width="750">
  <tr> 
    <td colspan="2">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_top.swf" WIDTH=750 HEIGHT=65 TYPE="application/x-shockwave-flash"></embed>')   
</script>


</td>
  </tr>
  <tr> 
    <td width="160" valign="top" height="284">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_side.swf" WIDTH=160 HEIGHT=295 TYPE="application/x-shockwave-flash"></embed>')   
</script>

</td>
    <td valign="top" width="590"> 
      <div align="center">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/faq_top.swf" WIDTH=590 HEIGHT=29 TYPE="application/x-shockwave-flash"></embed>')   
</script>


      <div align="center"> 
        <table width="97%">
          <tr>
            <td> 
              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
                4.<b> How do you repair cigarette burns?</b></font></p>
              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1">You 
                will find that when you strip the finish off, most of the burn 
                damage comes off as well. What is left should be carefully scraped 
                away with a single-edged razor blade. Burns can be taken care 
                of this way without any extra treatment, but difficult cases will 
                require some additional work. If the burn is deep you are going 
                to have a depression to fill after you clean out all the charred 
                wood. You can choose from three materials designed to build up 
                missing wood: melt-in sticks, wood dough or wood. Melt-in sticks 
                come in a variety of colors, as does wood dough, but neither matches 
                wood grain as well as actual wood or a slice of veneer to fit 
                the crevice, gluing it in and sanding it flush later. Some see 
                that as extra work but the result is far more satisfying than 
                with the other two alternatives.</font></p>
              <p>&nbsp;</p>
              <p align="right"><a href="javascript:history.back()"><img src="images/return_faq.jpg" width="47" height="20" border="0"></a></p>
              </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr> 
    <td width="160">&nbsp;</td>
    <td valign="bottom" width="590"> 
      <div align="right">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_bottom.swf" WIDTH=560 HEIGHT=20 TYPE="application/x-shockwave-flash"></embed>')   
</script>

</div>
    </td>
  </tr>
</table>
<div align="right"> </div>
</body>
</html>
