<html>
<head>
<title>Swing Paints Frequently Asked Questions</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script LANGUAGE="JavaScript">
function popupwindow3(){
window.open("newsletter.htm","","height=310,width=435,menubar=0,resizable=0,scrollbars=0, status=0,titlebar=0,toolbar=0,left=0,top=0")
}
</script>
<script LANGUAGE="JavaScript">
function popupwindow4(){
window.open("refer_a_friend.htm","","height=310,width=540,menubar=0,resizable=0,scrollbars=0, status=0,titlebar=0,toolbar=0,left=0,top=0")
}
</script>
<body bgcolor="#FFFFFF">
<table cellpadding="0" cellspacing="0" width="750">
  <tr> 
    <td colspan="2">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_top.swf" WIDTH=750 HEIGHT=65 TYPE="application/x-shockwave-flash"></embed>')   
</script>


</td>
  </tr>
  <tr> 
    <td width="160" valign="top" height="284">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_side.swf" WIDTH=160 HEIGHT=295 TYPE="application/x-shockwave-flash"></embed>')   
</script>

</td>
    <td valign="top" width="590"> 
      <div align="center">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/faq_top.swf" WIDTH=590 HEIGHT=29 TYPE="application/x-shockwave-flash"></embed>')   
</script>


      <div align="center"> 
        <table width="97%">
          <tr>
            <td> 
              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
                1.<b> What is the best stripper to use to remove paint?</b></font></p>
              <p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">There 
                are three factors that determine the most appropriate paint stripper: 
                type of paint, type of surface, location. Circa 1850 Furniture 
                Stripper works best on most paints and clear finishes (varnishes, 
                polyurethanes, lacquers). Its liquid formula is preferred for 
                clear finishes and intricate surfaces. Circa 1850 Heavy Body Remover 
                is a gel-type stripper that works best on tough, multiple layers 
                of paint, exterior surfaces such as houses and boats. Its cling 
                formula is ideal for walls and moldings. Circa 1850 Soft Strip 
                is a biodegradable environmentally-friendly remover. Its pleasant 
                odour is ideal for interior use, while its slow evaporation make 
                it perfect for exterior use. It is very effective on latex and 
                epoxy finishes.</font></p>
              <p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Gaudrault 
                Antiques Removers (Brush-on, Heavy Body and Stay-Wet) are economical 
                alternatives to the Circa 1850 products. Gaudrault Antiques Removers 
                are slightly slower acting and require more applications to remove 
                multiple layers of paint.</font> </p>
              <p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Swing 
                Professional Removers (Flo, Liquid and Gel) are formulated for 
                professional use only. </font></p>
              <p align="right"><a href="javascript:history.back()"><img src="images/return_faq.jpg" width="47" height="20" border="0"></a></p>
              </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr> 
    <td width="160">&nbsp;</td>
    <td valign="bottom" width="590"> 
      <div align="right">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_bottom.swf" WIDTH=560 HEIGHT=20 TYPE="application/x-shockwave-flash"></embed>')   
</script>

</div>
    </td>
  </tr>
</table>
<div align="right"> </div>
</body>
</html>
