<html>
<head>
<title>Swing Paints Frequently Asked Questions</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<script LANGUAGE="JavaScript">
function popupwindow3(){
window.open("newsletter.htm","","height=310,width=435,menubar=0,resizable=0,scrollbars=0, status=0,titlebar=0,toolbar=0,left=0,top=0")
}
</script>
<script LANGUAGE="JavaScript">
function popupwindow4(){
window.open("refer_a_friend.htm","","height=310,width=540,menubar=0,resizable=0,scrollbars=0, status=0,titlebar=0,toolbar=0,left=0,top=0")
}
</script>
<body bgcolor="#FFFFFF">
<table cellpadding="0" cellspacing="0" width="750">
  <tr> 
    <td colspan="2">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_top.swf" WIDTH=750 HEIGHT=65 TYPE="application/x-shockwave-flash"></embed>')   
</script>


</td>
  </tr>
  <tr> 
    <td width="160" valign="top" height="284">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_side.swf" WIDTH=160 HEIGHT=295 TYPE="application/x-shockwave-flash"></embed>')   
</script>

</td>
    <td valign="top" width="590"> 
      <div align="center">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/faq_top.swf" WIDTH=590 HEIGHT=29 TYPE="application/x-shockwave-flash"></embed>')   
</script>


      <div align="center"> 
        <table width="97%">
          <tr>
            <td> 
              <p><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><br>
                3. <b>Why should I use Stain'n Varnish instead of staining and 
                varnishing?</b></font></p>
              <p><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Circa 
                1850 Stain'n Varnish is a gel combination of stain and varnish. 
                The gel makes it ideal for staining soft woods, such as pine and 
                birch, because it produces a very uniform colour. The varnish 
                allows you to apply Circa 1850 Stain'n Varnish to any surface: 
                wood, plastic, metal, masonite, composite, etc. It is the best 
                way to give non-wood surfaces, such as embossed composite doors, 
                a real wood look. And because it is transparent, a thin coat of 
                a contrasting colour of Circa 1850 Stain'n Varnish over an existing 
                colour can be used to give wood an antique, distressed, or faux 
                finish. </font></p>
              <p>&nbsp;</p>
              <p align="right"><a href="javascript:history.back()"><img src="images/return_faq.jpg" width="47" height="20" border="0"></a></p>
              </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr> 
    <td width="160">&nbsp;</td>
    <td valign="bottom" width="590"> 
      <div align="right">

<!-- Workaround Start  -->  
<script language="javascript">function writeHTML(a){document.write(a)}</script>  
<script language="javascript" src="javascript:'function writeHTML(a){document.write(a)}'"></script>  
<!-- Workaround end -->  
<script language="javascript">  
    writeHTML('<embed src="http://www.swingpaints.com/swing_bottom.swf" WIDTH=560 HEIGHT=20 TYPE="application/x-shockwave-flash"></embed>')   
</script>

</div>
    </td>
  </tr>
</table>
<div align="right"> </div>
</body>
</html>
