<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>Brochure List</title>
		<style>
			tr:nth-child(even) {
				background-color:#CCCCCC;
			}
			tr:nth-child(odd) {
				background-color:#F6F6F6;
			}
			tr:nth-child(1) {
				font-weight:bold;
				border:1px solid black;
				display:none;
			}
			tr:nth-child(1) td {
				border-bottom:1px solid black;
				background-color:#FFFFFF;
			}
		</style>
		<script>
			$(document).ready(function(){
				$("#form").submit(function(){
					var startdate = new Date(parseInt($("#startyear").val()),parseInt($("#startmonth").val()),parseInt($("#startday").val()),0,0,0,0);
					var enddate = new Date(parseInt($("#endyear").val()),parseInt($("#endmonth").val()),parseInt($("#endday").val()),0,0,0,0);
					if (($("#en").is(':checked') || $("#fr").is(':checked')) && (enddate > startdate) && $("#startyear").val() == parseInt($("#startyear").val()) && $("#startmonth").val() == parseInt($("#startmonth").val()) && $("#startday").val() == parseInt($("#startday").val()) && $("#endyear").val() == parseInt($("#endyear").val()) && $("#endmonth").val() == parseInt($("#endmonth").val()) && $("#endday").val() == parseInt($("#endday").val())){
						$("input").attr('disabled', 'disabled');
						$("select").attr('disabled', 'disabled');
						var data = {{ data | replace("u'","'") | replace('u"','"') | safe }};
						$("#write").children().children().css("display","table-row");
						for (var key in data){;
							var values = [];
							for (var key2 in data[key]){
								switch (key2){
									case "name":
										values[0] = data[key][key2];
										break;
									case "email":
										values[1] = data[key][key2];
										break;
									case "address":
										values[2] = data[key][key2];
										break;
									case "city":
										values[3] = data[key][key2];
										break;
									case "stateprov":
										values[4] = data[key][key2];
										break;
									case "zipcode":
										values[5] = data[key][key2];
										break;
									case "country":
										values[6] = data[key][key2];
										break;
									case "time":
										values[7] = data[key][key2];
										break;
									case "lang":
										values[8] = data[key][key2];
										break;
								}
							}
							if ((new Date(values[7]) >= startdate && new Date(values[7]) <= enddate) && (($("#en").is(':checked') && values[8]=="en") || ($("#fr").is(':checked') && values[8]=="fr")) && (values[0] || values[1] || values[2] || values[3] || values[4] || values[5] || values[6])) {
								var newRow  = document.getElementById("write").insertRow(1);
								for (var value in values) {
									var newCell = newRow.insertCell(-1);
									var htmlNode = document.createElement('span');
									htmlNode.innerHTML = values[value]
									newCell.appendChild(htmlNode);
								}
							}
						}
					}
					return false;
				});
			});
		</script>
		<script>
			$(document).ready(function(){
				for (var i=2005;i<=new Date().getFullYear();i++) {
					$("#startyear").append("<option>" + i + "</option>");
				}
				for (var i=2005;i<=new Date().getFullYear();i++) {
					$("#endyear").append("<option>" + i + "</option>");
				}
				for (var i=1;i<=31;i++) {
					$("#endday").append("<option>" + i + "</option>");
				}
				for (var i=1;i<=31;i++) {
					$("#startday").append("<option>" + i + "</option>");
				}
				$("#endmonth").html($("#startmonth").html());
			});
		</script>
		<script>
			$(document).ready(function(){
				$("#startmonth").change(function(){
					var startdays = 31;
					switch ($("#startmonth").val()) {
						case "1":
							startdays = 28;
							break;
						case "3":
							startdays = 30;
							break;
						case "5":
							startdays = 30;
							break;
						case "8":
							startdays = 30;
							break;
						case "10":
							startdays = 30;
							break;
					}
					$("#startday").html("<option selected>Day</option>");
					for (var i=1;i<=startdays;i++) {
						$("#startday").append("<option>" + i + "</option>");
					}
				});
				$("#endmonth").change(function(){
					var enddays = 31;
					switch ($("#endmonth").val()) {
						case "1":
							enddays = 28;
							break;
						case "3":
							enddays = 30;
							break;
						case "5":
							enddays = 30;
							break;
						case "8":
							enddays = 30;
							break;
						case "10":
							enddays = 30;
							break;
					}
					$("#endday").html("<option selected>Day</option>");
					for (var i=1;i<=enddays;i++) {
						$("#endday").append("<option>" + i + "</option>");
					}
				});
			});
		</script>
	</head>
	<body>
		<div>
			<form id="form">
				Start Date:
				<select id="startmonth">
					<option selected>Month</option>
					<option value="0">Jan</option>
					<option value="1">Feb</option>
					<option value="2">Mar</option>
					<option value="3">Apr</option>
					<option value="4">May</option>
					<option value="5">June</option>
					<option value="6">July</option>
					<option value="7">Aug</option>
					<option value="8">Sept</option>
					<option value="9">Oct</option>
					<option value="10">Nov</option>
					<option value="11">Dec</option>
				</select>
				<select id="startday">
					<option selected>Day</option>
				</select>
				<select id="startyear">
					<option selected>Year</option>
				</select>
				End Date:
				<select id="endmonth">
				</select>
				<select id="endday">
					<option selected>Day</option>
				</select>
				<select id="endyear">
					<option selected>Year</option>
				</select>
				<input type="checkbox" id="en">English 
				<input type="checkbox" id="fr">French 
				<input id="submit" type="submit" value="Display">
			</form>
		</div>
		<table id="write">
			<tr>
				<td>Name</td>
				<td>E-mail</td>
				<td>Address</td>
				<td>City</td>
				<td>State/Prov</td>
				<td>Zip/Postal</td>
				<td>Country</td>
				<td>Date</td>
				<td>Language</td>
			</tr>
		</table>
	</body>
</html>