<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script type='text/javascript' src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
		<title>Newsletter</title>
		<script>
			$(document).ready(function(){
				list = function(){
					if ($("#write").length){
						if ($("#write").is(":visible")){
							$("#write").hide();
							$("button").html("Show List");
						} else {
							$("#write").show();
							$("button").html("Hide List");
						}
					}
					else {
						$("button").html("Hide List");
						var newHTML = document.createElement("div");
						$(newHTML).attr("id","write");
						$("body").append(newHTML);
						$(newHTML).css({height:$(window).innerHeight()-$("body").height()-20,border:"1px solid black",overflow:"auto"});
						var data = {{ data | replace("u'","'") | replace('u"','"') | safe }};
						for (var key in data["array"]) {
							var htmlNode = document.createElement('p');
							htmlNode.innerHTML = data["array"][key];
							newHTML.appendChild(htmlNode);
						}
					}
				}
			});
		</script>
	</head>
	<body><button onClick=list()>Show List</button></body>
</html>
