{% extends "base.html" %}
{% block head %}{{ super() }}<style>#content img{width:100%;}</style>{% endblock %}
{% block title %}Swing Paints - Aqua Colour Swatches{% endblock %}
{% block categorytext %}Aqua Colour Swatches{% endblock %}
{% block content %}
	<img src="{{ url_for('static', filename='images/swatches/aqua.jpg') }}">
	<p>
		The colours shown above are approximate reproductions and will be affected by individual computer screens. Actual results on wood may vary. Test first.
	</p>
{% endblock %}
