{% extends "base.html" %}
{% block head %}
{{ super() }}
	<style>
		#container {
			width:750px;
		}
	</style>
{% endblock %}
{% block title %}Swing Paints - Stain 'n Varnish Colour Swatches{% endblock %}
{% block category %}<img src="{{ url_for('static', filename='images/aqua_swatches_top.png') }}" alt="Aqua Swatches Swing Paints" width=750 height=29>{% endblock %}
{% block content %}
	<div style="width:75%;text-align:left;margin:0 auto;">
		<img src="{{ url_for('static', filename='images/swatches/aqua.jpg') }}" style="width:612px;height:612px;">
		The colours shown above are approximate reproductions and will be affected by individual computer screens.
		Actual results on wood may vary. Test first.
	</div>
{% endblock %}