<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='canvas.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='mobile.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='jquery.color-2.1.2.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %}</title>
		<script>
			$(document).ready(function(){
				$(document).find('div.fb-post').each(function() {
					$(this).attr('data-width', $(this).parent().width());
				});
				canvassing(10);
				$("#div-search").find("form").keyup(function(){
					console.log("keyup");
					if ($("#search").val()) {
						$(this).prop('action',"{{ url_for('.search',search_string='') }}"+$("#search").val().replace(/ /g,'+'));
					}
				});
			});
		</script>
	{% endblock %}
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
  				var js, fjs = d.getElementsByTagName(s)[0];
  				if (d.getElementById(id)) return;
  				js = d.createElement(s); js.id = id;
  				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  				fjs.parentNode.insertBefore(js, fjs);
			}
			(document, 'script', 'facebook-jssdk'));
		</script>
		<canvas id="canvas" style="position:fixed;z-index:2;" width="90" height="500"></canvas>
		<div id="center">
			<div id="main" class="group">
				<div id="mainleft" class="group">
					<div id="logo">
						<img src="{{ url_for('static', filename='images/top_logo.png') }}">
						<div id="logotext">finishing the easy way since 1965</div>
					</div>
					<div id="div-search">
						<form method="POST" action="{{ url_for('.search',search_string='') }}">
						{{ form.hidden_tag() }}
							{{ form.search }}
							<input id="submit" type="submit" value="Search"></input>
						</form>
					</div>
					<div id="sidebar">
					{% block sidebar %}
						<a id="sidebar-before" href="#">&#x25c4;</a>
						<h1 id="category-heading">Products</h1>
						<ul id="category-list">
							<li><a href="{{ url_for('.category',categoryid='accessories') }}">Accessories &amp; Tools</a></li>
							<li><a href="{{ url_for('.category',categoryid='epoxies') }}">Epoxies &amp; Adhesives</a></li>
							<li><a href="{{ url_for('.category',categoryid='glueremovers') }}">Adhesive &amp; Glue Removers</a></li>
							<li><a href="{{ url_for('.category',categoryid='varnishremovers') }}">Paint &amp; Varnish Removers</a></li>
							<li><a href="{{ url_for('.category',categoryid='oils') }}">Finishing Oils</a></li>
							<li><a href="{{ url_for('.category',categoryid='poly') }}">Varnishes &amp; Polyurethanes</a></li>
							<li><a href="{{ url_for('.category',categoryid='primers') }}">Paint &amp; Wallpaper Primers</a></li>
							<li><a href="{{ url_for('.category',categoryid='stains') }}">Wood Stains &amp; Varnish Stains</a></li>
							<li><a href="{{ url_for('.category',categoryid='waxes') }}">Waxes, Polishers &amp; Cleaners</a></li>
							<li><a href="{{ url_for('.category',categoryid='bath') }}">Bathtub Reglazing Epoxy</a></li>
							<li><a href="{{ url_for('.category',categoryid='solvents') }}">Solvents</a></li>
							<li><a href="{{ url_for('.category',categoryid='clearance') }}">Clearance</a></li>
						</ul>
						<h1 id="brand-heading">Brands</h1>
						<ul id="brand-list">
							<li><a href="{{ url_for('.brand',brandid='circa') }}">Circa 1850</a></li>
							<li><a href="{{ url_for('.brand',brandid='klenks') }}">Klenk's</a></li>
							<li><a href="{{ url_for('.brand',brandid='antiquax') }}">Antiquax</a></li>
							<li><a href="{{ url_for('.brand',brandid='terranova') }}">Terra Nova</a></li>
							<li><a href="{{ url_for('.brand',brandid='gaudreault') }}">Gaudreault Antiques</a></li>
							<li><a href="{{ url_for('.brand',brandid='degooper') }}">Super DeGooper</a></li>

						</ul>
					{% endblock %}
					</div>
				</div>
				<div id="mainright" class="group">
					<div id="links">
						<ul>
							<li><a href="{{ url_for('.home') }}">HOME</a></li>
							<li><a href="{{ url_for('.about') }}">ABOUT</a></li></li>
							<li><a href="{{ url_for('.locations') }}">WHERE TO BUY</a></li>
							<li><a href="{{ url_for('.faq') }}">FAQ</a></li>
							<li><a href="{{ url_for('.contact') }}">CONTACTS</a></li>
							<li><a href="{{ url_for('.marketing') }}">MARKETING AND SALES ASSISTANCE</a></li>
						</ul>
					</div>
					<div id="content" class="group">
						<div id="mobile-header">
							<div id="mobile-header-left">☰</div>
							<div id="mobile-header-center"><img src="{{ url_for('static', filename='images/categoryswing.png') }}" alt="Swing Paints" width="159" height="69"></div>
							<div id="mobile-header-right"><a href="{{ url_for('.home') }}">⌂</a></div>
						</div>
						<h1 id="main-heading">{% block categorytext %}{% endblock %}</h1>
					{% block content %}{% endblock %}
					</div>
					<div id="footer">
						<ul>
							<li><a href="{{ url_for('.forum') }}" class="noscript">INTERACTIVE FORUM</a></li>
							<li><a href="{{ url_for('.refer') }}" class="noscript">REFER A FRIEND</a></li>
							<li><a href="{{ url_for('.brochure') }}" class="noscript">FREE BROCHURE</a></li>
						</ul>
						<div id="facebook">
							<div class="fb-like" data-href="http://www.facebook.com/circa1850" data-send="false" data-layout="button_count" data-width="285" data-show-faces="false" data-action="recommend" data-font="lucida grande"></div>
						</div>
						<div id="end" style="padding-top:10px;">
							&copy;2015 Swing Paints Ltd. Last modified: April 9, 2015
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
