<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='jquery.color-2.1.2.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %}</title>
		<script>
			var resizings = function(){
				$("#canvas").offset({ top: $("#sidebar").offset().top, left:$("#sidebar").offset().left+$("#sidebar").width()+15 });
			}
			$(window).resize(function(){
				resizings();
			});
			$(window).load(function(){
				resizings();
			});
			$(document).ready(function(){
				$(document).find('div.fb-post').each(function() {
					$(this).attr('data-width', $(this).parent().width());
				});
				resizings();
				var ctx = $("#canvas").get(0).getContext('2d');
				ctx.scale(2, 2);
				ctx.strokeStyle = "grey";
				ctx.fillStyle = "black";
				times = 6;
				startx = 10;
				starty = 18;
				for (i=1;i<=times;i++){
					ctx.beginPath();
					ctx.moveTo(startx, starty*i-2);
					ctx.lineTo(startx+30, starty*i+1);
					ctx.stroke();
					
					ctx.beginPath();
					ctx.moveTo(startx, starty*i+2);
					ctx.lineTo(startx+30, starty*i+5);
					ctx.stroke();
					
					ctx.beginPath();
					ctx.arc(startx,starty*i,4,0,2*Math.PI);
					ctx.fill();
					
					ctx.beginPath();
					ctx.arc(startx+30,starty*i+3,4,0,2*Math.PI);
					ctx.fill();
				}
			});
		</script>
	{% endblock %}
	</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
  				var js, fjs = d.getElementsByTagName(s)[0];
  				if (d.getElementById(id)) return;
  				js = d.createElement(s); js.id = id;
  				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  				fjs.parentNode.insertBefore(js, fjs);
			}
			(document, 'script', 'facebook-jssdk'));
		</script>
		<canvas id="canvas" style="position:absolute;z-index:2;" width="90" height="500"></canvas>
		<div id="center">
			<div id="main" class="group">
				<div id="mainleft" class="group">
					<div id="logo">
						<img src="{{ url_for('static', filename='images/top_logo.png') }}">
						<div id="logotext">finishing the easy way since 1965</div>
					</div>
					<div id="search">
						<form>
							<input type="text" id="searchinput" placeholder="Search" style="height:2%;width:50%;border-radius:5px;border:none;padding-left:10px;"></input>
							<input type="submit" text="Go"></input>
						</form>
					</div>
					<div id="sidebar">
					{% block sidebar %}
						<h1>Categories</h1>
							<ul>
								<li><a href="/category/accessories"> Accessories &amp; Tools</a></li>
								<li><a href="/category/epoxies"> Epoxies &amp; Adhesives</a></li>
								<li><a href="/category/glueremovers"> Adhesive &amp; Glue Removers</a></li>
								<li><a href="/category/varnishremovers"> Paint &amp; Varnish Removers</a></li>
								<li><a href="/category/oils"> Finishing Oils</a></li>
								<li><a href="/category/poly"> Varnishes &amp; Polyurethanes</a></li>
								<li><a href="/category/primers"> Paint &amp; Wallpaper Primers</a></li>
								<li><a href="/category/stains"> Wood Stains &amp; Varnish Stains</a></li>
								<li><a href="/category/waxes"> Waxes, Polishers &amp; Cleaners</a></li>
								<li><a href="/category/bath"> Bathtub Reglazing Epoxy</a></li>
								<li><a href="/category/solvents"> Solvents</a></li>
								<li><a href="/category/clearance"> Clearance</a></li>
							</ul>
					{% endblock %}
					</div>
				</div>
				<div id="mainright" class="group">
					<div id="links">
						<ul>
							<li><b><a href="/home">HOME</a></b></li>
							<li><a href="/about">ABOUT SWING PAINTS</a></li></li>
							<li><a href="/locations">WHERE TO BUY</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/contact">CONTACTS</a></li>
							<li><a href="/marketing">MARKETING AND SALES ASSISTANCE</a></li>
						</ul>
					</div>
					<div id="content">
					<h1>{% block categorytext %}{% endblock %}</h1>
					{% block content %}{% endblock %}
					</div>
					<div id="footer">
						<ul>
							<li><a href="/forum" class="noscript">INTERACTIVE FORUM</a></li>
							<li><a href="/newsletter" class="noscript">NEWSLETTER</a></li>
							<li><a href="/refer" class="noscript">REFER A FRIEND</a></li>
							<li><a href="/brochure" class="noscript">FREE BROCHURE</a></li>
						</ul>
						<div id="facebook">
							<div class="fb-like" data-href="http://www.facebook.com/circa1850" data-send="false" data-layout="button_count" data-width="285" data-show-faces="false" data-action="recommend" data-font="lucida grande"></div>
						</div>
						<div id="end">
							&copy;2015 Swing Paints Ltd. Last modified: February 20, 2015
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>