<!DOCTYPE html>
<html lang="en">
	<head>{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="google-site-verification" content="y5-Xr5brl7InEid-cPwODY_iUbEEbLXERQ9EzB7stHg">
		<script type='text/javascript' src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/canvas.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/base.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.color-2.1.2.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
		<link rel="alternate" hreflang="fr" href="{{ request.base_url }}?lang=french">
		<title>{% block title %}{% endblock %}</title>
		<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.swingpaints.com",
			"sameAs" : [
				"http://www.facebook.com/circa1850",
				"http://www.twitter.com/yourProfile",
				"http://plus.google.com/your_profile"
			],
      "logo": "http://www.swingpaints.com/images/top_logo.png",
			"contactPoint" : [
				{
					"@type" : "ContactPoint",
					"telephone" : "+1-603-643-0396",
					"contactType" : "customer service",
					"areaServed" : ["US","CA"],
					"availableLanguage" : ["English","French"]
				},
				{
					"@type" : "ContactPoint",
					"telephone" : "+1-514-932-2157",
					"contactType" : "customer service",
					"areaServed" : ["US","CA"],
					"availableLanguage" : ["English","French"]
				}
			]
    }
    </script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-EX759CF0JR"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-EX759CF0JR');
		</script>
		<script>
			$(document).ready(function(){
				$(document).find('div.fb-post').each(function() {
					$(this).attr('data-width', $(this).parent().width());
				});
				canvassing();
				$("#div-search").find("form").keyup(function(){
					if ($("#search").val()) {
						$(this).prop('action',"{{ url_for('.search',search_string='') }}"+$("#search").val().replace(/ /g,'+'));
					}
				});
			});
		</script>
	{% endblock %}</head>
	<body>
	        <div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=1013304338702296&autoLogAppEvents=1" nonce="YaMGHMx6"></script>
		<canvas id="canvas" style="position:fixed;z-index:2;" width="90" height="1000"></canvas>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
		    <ul id="flashes">
		    {% for message, category in messages %}
		      <li class="flash {{ category }}">{{ message }}<a href="#" class="close">&#x00D7;</a></li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
		<div id="center">
			<div id="main" class="group">
				<div id="mainleft" class="group">
					<div id="logo">
						<a href="{{ url_for('.home') }}"><img src="{{ url_for('static', filename='images/top_logo_white.png') }}" alt="Logo"></a>
						<div id="logotext">finishing the easy way since 1965</div>
					</div>
					<div id="div-search">
						<form method="POST" action="/">
							<input id="search" placeholder="Search" type="search">
							<input id="submit" type="submit" value="Search">
						</form>
					</div>
					<div id="sidebar">
					{% block sidebar %}<h1 id="category-heading">Products</h1>
						<ul id="category-list">{% for category in categories %}
							<li><a href="{{ url_for('.category',categoryid=category[0]) }}">{{ category[1] | safe }}</a></li>{% endfor %}
						</ul>
						<h1 id="brand-heading">Brands</h1>
						<ul id="brand-list">{% for brand in brands %}
							<li><a href="{{ url_for('.brand',brandid=brand[0]) }}">{{ brand[1] | safe }}</a></li>{% endfor %}
						</ul>
					{% endblock %}</div>
					<div id="back-handle"></div>
				</div>
				<div id="mainright" class="group">
					<div id="links">
						<ul id="links-desktop">
							<li><a href="{{ url_for('.home') }}">HOME</a></li>
							<li><a href="{{ url_for('.about') }}">ABOUT</a></li>
							<li><a href="{{ url_for('.locations') }}">WHERE TO BUY</a></li>
							<li><a href="{{ url_for('.faq') }}">FAQ</a></li>
							<li><a href="{{ url_for('.contact') }}">CONTACTS</a></li>
							<li><a href="https://www.aitsafe.com/cf/review.cfm?userid=4388412&return={{ request.url }}&lg=0">VIEW CART</a></li>
							<li><a href="?lang=french">FRAN&#xc7;AIS</a></li>
						</ul>
						<ul id="links-mobile">
							<li><a href="{{ url_for('.home') }}">HOME</a></li>
							<li><a href="{{ url_for('.about') }}">ABOUT</a></li>
							<li><a href="{{ url_for('.locations') }}">LOCATIONS</a></li>
							<li><a href="{{ url_for('.faq') }}">FAQ</a></li>
							<li><a href="{{ url_for('.contact') }}">CONTACTS</a></li>
							<li><a href="https://www.aitsafe.com/cf/review.cfm?userid=4388412&return={{ request.url }}&lg=0">CART</a></li>
							<li><a href="?lang=french">FRAN&#xc7;AIS</a></li>
						</ul>
					</div>
					<div id="content" class="group">
						<div id="mobile-header">
							<div id="mobile-header-left">☰</div>
							<div id="mobile-header-center"><img src="{{ url_for('static', filename='images/top_logo_white.png') }}" alt="Swing Paints"></div>
							<div id="mobile-header-right"><a href="{{ url_for('.home') }}">⌂</a></div>
						</div>
						<h1 id="main-heading">{% block categorytext %}{% endblock %}</h1>
						{% block content %}{% endblock %}
					</div>
					<div id="footer">
						<ul id="footer-desktop">
							<li><a href="{{ url_for('.forum') }}" class="noscript">INTERACTIVE FORUM</a></li>
							<li><a href="{{ url_for('.marketing') }}">MARKETING AND SALES ASSISTANCE</a></li>
							<li><a href="{{ url_for('.refer') }}" class="noscript">REFER A FRIEND</a></li>
							<li><a href="{{ url_for('.brochure') }}" class="noscript">FREE BROCHURE</a></li>
						</ul>
						<ul id="footer-mobile">
							<li><a href="{{ url_for('.forum') }}" class="noscript">FORUM</a></li>
							<li><a href="{{ url_for('.marketing') }}">MARKETING</a></li>
							<li><a href="{{ url_for('.refer') }}" class="noscript">REFER</a></li>
							<li><a href="{{ url_for('.brochure') }}" class="noscript">BROCHURE</a></li>
						</ul>
						<div id="facebook">
							<div class="fb-like" data-href="http://www.facebook.com/circa1850" data-send="false" data-layout="button_count" data-width="285" data-show-faces="false" data-action="recommend" data-font="lucida grande"></div>
						</div>
						<div id="end" style="padding-top:10px;">
							&copy;2015-2022 Swing Paints Ltd. Last modified: September 20, 2022
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
