{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<style>
		#content label {
			float:left;
		}
		#content input, #content select {
			float:right;
		}
	</style>
{% endblock %}
{% block title %}Swing Paints - Free Brochure{% endblock %}
{% block categorytext %}Free Brochure{% endblock %}
{% block content %}
<p>At Swing Paints, we know that refinishing is much easier than most people imagine, you just have to go about it one step at a time. But take a tip from us, a tip based on years of experience and know-how: a good start means a good finish.</p>
<p>To ensure you get the best possible start, please send away for our FREE BROCHURE on Refinishing.</p>
<p>Don't worry, we will NEVER share your e-mail address with any other company</p>
<form method="POST" action="{{ url_for('.brochure') }}">
{{ brochure_form.hidden_tag() }}
	<ul>
    {% for field in brochure_form %}
		{% for error in field.errors %}
			<li>{{ error | safe }}</li>
		{% endfor %}
	{% endfor %}
	</ul>
	<div style="width:48%;float:left;">
	{% for field in brochure_form %}
		<div style="clear:right;">
		{% if field.type != 'CSRFTokenField' %}
			{{ field.label }}:
			{% if field.type == "SelectField" %}
				<select id="{{ field.name }}" name="{{ field.name }}" style="width:50%">
				{% for option in field %}
					{% if option.data == '_' %}
						{{ option(disabled=True) }}
					{% else %}
						{{ option }}
					{% endif %}
				{% endfor %}
				</select>
			{% else %}
				{{ field(style="width:50%") }}
			{% endif %}
		{% endif %}
		</div>
		{% if loop.index == 5 %}
	</div>
	<div style="width:48%;float:right;">
		{% endif %}
	{% endfor %}
		<div style="clear:right;"><input id="content-submit" type="submit" value="Submit"></div>
    </div>
</form>
{% endblock %}
