{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<style>
		label {
			float:left;
		}
		input {
			float:right;
		}
		select {
			float:right;
		}
	</style>
	<script>
		$(document).ready(function(){
			var newHTML = document.createElement("div");
			$("body").append(newHTML);
			$(newHTML).attr("id","hoverspan");
			$(newHTML).offset({top:0,left:0});
			$("#email").keyup(function(){
				createSpan($(this));
			});
			function createSpan(focused){
				var span = $("#hoverspan");
    			var regex = /[a-zA-Z0-9]+\u0040[a-zA-Z0-9]+\u002E[a-zA-Z0-9]+/; 
				if (regex.test(focused.val())) {
					var html = "<div style='margin:auto auto;width:175px;'>Valid e-mail address.</div>";
					var backcolor = "#5cb85c";
				} else {
					var html = "<div style='margin:auto auto;width:175px;'>Must be valid e-mail address.</div>";
					var backcolor = "#d9534f";
				}
				span.html(html);
				var offset = focused.offset();
				var top = offset.top;
				var left = offset.left + focused.width() + 10;
				span.offset({top:top,left:left});
				span.css("background","#ffffff");
				span.css("color","white");
				span.css("width","200px");
				span.css("height","20px");
				span.css("vertical-align","middle");
				span.animate({backgroundColor:backcolor}, 200);
			}
			$("#email").focus(function(){
				var span = $("#hoverspan");
				if (span.offset().left == 0 && span.offset().top == 0) {
					createSpan($(this));
				}
			});
			$("#email").blur(function(){
			var span = $("#hoverspan");
				span.animate({backgroundColor:"#ffffff"}, 200, function(){
					span.offset({top:0,left:0});
				});
			});
			$("form").change(function(){
    			var regex = /[a-zA-Z0-9]+\u0040[a-zA-Z0-9]+\u002E[a-zA-Z0-9]+/; 
				if ($("#name").val() && regex.test($("#email").val()) && $("#address").val() && $("#city").val() && $("#stateprov").val() && $("#zipcode").val() && $("#country").val()) {
					$("#submit").prop('disabled',false);
				} else {$("#submit").prop('disabled',true);}
			});
			$("form").keyup(function(){
    			var regex = /[a-zA-Z0-9]+\u0040[a-zA-Z0-9]+\u002E[a-zA-Z0-9]+/; 
				if ($("#name").val() && regex.test($("#email").val()) && $("#address").val() && $("#city").val() && $("#stateprov").val() && $("#zipcode").val() && $("#country").val()) {
					$("#submit").prop('disabled',false);
				} else {$("#submit").prop('disabled',true);}
			});
		});
	</script>
{% endblock %}
{% block title %}Swing Paints - Free Brochure{% endblock %}
{% block categorytext %}Free Brochure{% endblock %}
{% block content %}
<p>At Swing Paints, we know that refinishing is much easier than most people imagine, you just have to go about it one step at a time. But take a tip from us, a tip based on years of experience and know-how: a good start means a good finish.</p>
<p>To ensure you get the best possible start, please send away for our FREE BROCHURE on Refinishing.</p>
<p>Don't worry, we will NEVER share your e-mail address with any other company</p>
<form method="POST" action="/brochure">
{{ form.hidden_tag() }}
	<div style="width:48%;float:left;">
	{% for field in form %}
		<div style="clear:right;">
		{% if loop.index == 1 %}
		{% else %}
			{{ field.label }}:
			{% if field.type == "SelectField" %}
				<select id="{{ field.name }}" name="{{ field.name }}" style="width:50%">
				{% for option in field %}
					{% if option.data == '_' %}
						{{ option(disabled=True) }}
					{% else %}
						{{ option }}
					{% endif %}
				{% endfor %}
				</select>
			{% else %}
				{{ field(style="width:50%") }}
				{% for error in field.errors %}
					{{ error | safe }}
				{% endfor %}
			{% endif %}
		{% endif %}
		</div>
		{% if loop.index == 5 %}
	</div>
	<div style="width:48%;float:right;">
		{% endif %}
	{% endfor %}
		<div style="clear:right;"><input id="submit" type="submit" value="Submit" disabled="disabled"></div>
    </div>
</form>
{% endblock %}
