{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
	@media (max-width: 500px) {
		p {
			width:100%;
		}
	}
	@media (min-width: 500px) and (max-width: 1024px) {
		p {
			width:500px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	@media (max-width: 1024px) {
		#category-title {
			margin-top:77px;
			padding-bottom:5px;
			font-weight:bold;
			text-align:center;
			font-size:14px;
			border-bottom:1px solid black;
		}
		#category-table-mobile {
			width:100%;
		}
		#category-table-mobile td {
			border-bottom:1px solid black;
			font-size:12px;
			text-align:center;
		}
		#category-table-mobile td a {
			width:100%;
			height:100%;
			display:block;
			color:black;
		}
		#category-table-mobile td a img {
			height:75%;
		}
		#category-table-desktop {
			display:none;
		}
    }
	@media (min-width: 1024px) {
		#mobile-header,#product-title,#sidebar-before,#search,#category-table-mobile {
			display:none;
		}
		#category-table-desktop td {
			font-size:10px;
			width:112px;
			text-align:center;
			vertical-align:top;
		}
		.group:after {
			content: "";
			display: table;
			clear: both;
		}
	}
</style>
{% endblock %}
{% block title %}{{ category.title | safe }}{% endblock %}
{% block categorytext %}{{ category.title | safe }}{% endblock %}
{% block content %}
<div id="category-title">{{ category.title | safe }}</div>
<table id="category-table-mobile">
{% for x in category.products: %}
<tr><td>
	<a href="../product/{{ x }}">
		<img src="{{ url_for('static', filename='images/lg/%s.jpg' % x ) }}" alt='{{ category.products[x] | replace("<br />"," ") }}' title='{{ category.products[x] | replace("<br />"," ") }}'>
		<div>{{ category.products[x] | replace("<br />"," ") | safe }}</div>
	</a>
</td></tr>
{% endfor %}
</tr></table>
<table id="category-table-desktop"><tr>
{% for x in category.products: %}
<td>
	<a href="../product/{{ x }}">
		<img src="{{ url_for('static', filename='images/tn/%s.jpg' % x ) }}" width="102" height="102" alt='{{ category.products[x] | replace("<br />"," ") }}' title='{{ category.products[x] | replace("<br />"," ") }}'>
	</a><br />{{ category.products[x] | safe }}
</td>
{% if loop.index is divisibleby(5) %}</tr><tr>{% endif %}
{% endfor %}
{% if category.dictlen is not divisibleby(5) %}
{% for i in range(0,5-(category.dictlen % 5)) %}
<td></td>
{% endfor %}
{% endif %}
</tr></table>
{% endblock %}