{% extends "base.html" %}
{% block head %}{{ super() }}<style>div#greenlink a:link{color:#1D432F;text-decoration:underline;}</style>{% endblock %}
{% block title %}Swing Paints - Contact Us{% endblock %}
{% block categorytext %}Contact Swing Paints{% endblock %}
{% block content %}
<div id="greenlink">
	<table style="width:100%">
		<tr style="height:25">
			<td>
				Head Office:
			</td>
			<td style="padding-left:5px">
				U.S. Offices:
			</td>
			<td></td>
		</tr>
		<tr style="height:75" >
			<td style="width:33%">
				2100 St-Patrick Street<br>
				Montreal, Qu&#xe9;bec<br>
				H3K 1B2 Canada<br>
				Tel. <a href="tel:+1-514-932-2157">514-932-2157</a><br>
				Fax. <a href="tel:+1-514-932-2779">514-932-2779</a>
			</td>
			<td style="border-left:thin solid black;padding-left:5px;width:33%">
				20835 Skouras Drive<br>
				Los Angeles, California <br>
				91036 USA<br>
				Tel. <a href="tel:+1-323-816-3041">323-816-3041</a><br>
				Fax. <a href="tel:+1-323-932-9026">323-932-9026</a>
			</td>
			<td style="width:33%">
				P.O. Box 18<br>
				Etna, New Hampshire<br>
				03750 USA<br>
				Tel. <a href="tel:+1-603-643-5396">603-643-5396</a><br>
				Fax. <a href="tel:+1-603-643-9383">603-643-9383</a>
			</td>
		</tr>
		<tr>
			<td colspan="3" style="vertical-align:top">
				<table style="padding-top:15px;text-align:left;width:74%;margin-left:auto;margin-right:auto;">
					<tr>
						<td>General Information:</td>
						<td><a href="mailto:info@swingpaints.com">info@swingpaints.com</a></td>
					</tr>
					<tr>
						<td>Canadian Retailers/Distributors:</td>
						<td><a href="mailto:cdnsales@swingpaints.com">cdnsales@swingpaints.com</a></td>
					</tr>
					<tr>
						<td>U.S. Retailers/Distributors:</td>
						<td><a href="mailto:ussales@swingpaints.com">ussales@swingpaints.com</a></td>
					</tr>
					<tr>
						<td>Advertising/Marketing:</td>
						<td><a href="mailto:advert@swingpaints.com">advert@swingpaints.com</a></td>
					</tr>
					<tr>
						<td>Privacy Officer:</td>
						<td><a href="mailto:echaimberg@swingpaints.com">advert@swingpaints.com</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
