{% extends 'base.html' %}
{% block title %}Swing Paints Forum{% endblock %}
{% block head %}
{{ super() }}
		<style>
			table {width:100%;}
			tr:nth-child(even) {
				background-color:#CCCCCC;
			}
			tr:nth-child(odd) {
				background-color:#F6F6F6;
			}
			tr:nth-child(1) {
				font-weight:bold;
				border:1px solid black;
			}
			tr:nth-child(1) td {
				border-bottom:1px solid black;
				background-color:#FFFFFF;
			}
			ul#notifyemail {
				list-style:none;
				display:inline;
				padding:0;
			}
			#content label {
				float:left;
			}
			#content input:not(#submit):not(#notifyemail-0):not(#notifyemail-1),textarea {
				float:right;
				width:75%;
			}
			textarea {
				height:100px;
			}
			#notifyemail label,.recaptcha_input_area input {
				float:none;
			}
			#submit {
				width:auto;
			}
			#notifyemail input {
				float:none;
				width:auto;
			}
			#notifyemail li {
				display:inline;
				padding-right:10px;
			}
			form div div {
				clear:right;
			}
		</style>
		<script>
			$(document).ready(function(){
				var total = {{ total }} / 50 + 1;
				for (i=1;i<=total;i++){
					console.log(i);
					$('#pages').html($('#pages').html()+'<a href="/forum/'+i+'">'+i+'</a>&nbsp;|&nbsp;');
				}
			});
		</script>
{% endblock %}
{% block categorytext %}Forum{% endblock %}
{% block content %}
		<table id="write">
			<tr>
				<td>Subject</td>
				<td>Author</td>
				<td>Replies</td>
				<td>Last Post</td>
			</tr>
			{% for message in messages %}
			<tr>
				<td><a href="/message/{{ message.IDmessage }}">{{ message.subject }}</a></td>
				<td>{{ message.name }}</td>
				<td>{{ message.replies }}</td>
				<td>{{ message.date }}</td>
				{% if current_user.is_authenticated() %}
				<td>Delete</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		<div id="pages"></div>
		<form method="POST">
		{{ message_form.hidden_tag() }}
			<div style="float:left;width:100%;"><ul>
			{% for field in message_form %}
				{% for error in field.errors %}
					<li>{{ error | safe }}</li>
				{% endfor %}
			{% endfor %}
			{% for field in message_form %}
				</ul><div>
				{% if loop.index == 1 %}
				{% else %}
					{% if field.type == 'RecaptchaField' %}
					{% else %}
						{{ field.label }}:
					{% endif %}
					{{ field }}
				{% endif %}
				</div>
			{% endfor %}
				<div><input id="submit" type="submit" value="Submit"></div>
		    </div>
		</form>
{% endblock %}