{% extends 'base.html' %}
{% block title %}Swing Paints Forum{% endblock %}
{% block head %}
{{ super() }}
		<style>
			tr:nth-child(even) {
				background-color:#CCCCCC;
			}
			tr:nth-child(odd) {
				background-color:#F6F6F6;
			}
			tr:nth-child(1) {
				font-weight:bold;
				border:1px solid black;
			}
			tr:nth-child(1) td {
				border-bottom:1px solid black;
				background-color:#FFFFFF;
			}
			ul#notifyemail {
				list-style:none;
				display:inline;
				padding:0;
			}
			#content label {
				float:left;
			}
			#content input:not(#submit):not(#notifyemail-0):not(#notifyemail-1),textarea {
				float:right;
				width:75%;
			}
			textarea {
				height:100px;
			}
			#notifyemail label,.recaptcha_input_area input {
				float:none;
			}
			#submit {
				width:auto;
			}
			#notifyemail input {
				float:none;
				width:auto;
			}
			#notifyemail li {
				display:inline;
				padding-right:10px;
			}
			form div div {
				clear:right;
			}
			@media (max-width: 1024px) {
				#recaptcha_table td:nth-of-type(3) {
					display: none;
				}
			}
			#pages ul {
				list-style: none;
				padding: 0;
			}
			#pages li {
				display: inline;
			}
			#pages li:before {
				content: '|';
				color: #336633;
			}
			#pages li:nth-of-type(1):before {
				content: '';
			}
			#pages a {
				padding: 0 5px;
			}
			#search-form {
				text-align: center;
			}
		</style>
		<script>
			$(document).ready(function(){
				for (i=1;i<={{ messages.pages }};i++){
					if (i == {{ messages.page }}) {
						$('#pages').html($('#pages').html()+'<option selected>'+i+'</option>');
					} else {
						$('#pages').html($('#pages').html()+'<option>'+i+'</option>');
					}
				}
				$("#search-form").keyup(function(){
					if ($("#forum_search").val()) {
						$(this).prop('action',"{{ url_for('.forumsearch',search_string='') }}"+$("#forum_search").val().replace(/ /g,'+'));
					}
				});
			});
		</script>
{% endblock %}
{% block categorytext %}Forum{% endblock %}
{% block content %}
		<form id="search-form" method="POST">
			<div style="float:left;width:100%;">
				<input id="forum_search" type="text" style="float:none;width:30%;">
				<input id="submit" type="submit" value="Search Forum">
		    </div>
		</form>
		<table id="write">
			<tr>
				<td>Subject</td>
				<td>Author</td>
				<td>Replies</td>
				<td>Last Post</td>
			</tr>
			{% for message in messages.items %}
			<tr>
				<td><a href="/message/{{ message.IDmessage }}">{{ message.subject }}</a></td>
				<td>{{ message.name }}</td>
				<td>{{ message.replies }}</td>
				<td>{{ message.date }}</td>
				{% if current_user.is_authenticated() %}
				<td>Delete</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		<div style="text-align:center;margin:0 auto;">Select page: 
			<form>
				<select id="pages" onChange="window.location.href='/forum/'+this.value">
				</select>
			</form>
		</div>
		<h2>New message:</h2>
		<form method="POST">
		{{ message_form.hidden_tag() }}
			<div style="float:left;width:100%;"><ul>
			{% for field in message_form %}
				{% for error in field.errors %}
					<li>{{ error | safe }}</li>
				{% endfor %}
			{% endfor %}
				</ul>
			{% for field in message_form %}
				<div>
				{% if loop.index == 1 %}
				{% else %}
					{% if field.type == 'RecaptchaField' %}
					{% else %}
						{{ field.label }}:
					{% endif %}
					{{ field }}
				{% endif %}
				</div>
			{% endfor %}
				<div><input id="submit" type="submit" value="Submit"></div>
		    </div>
		</form>
{% endblock %}