{% extends "frenchbase.html" %}
{% block head %}
	{{ super() }}
	<style>
		p {
			text-align:center;
		}
		label {
			float:left;
		}
		input {
			float:right;
		}
	</style>
	<script>
		$(document).ready(function(){
			$("form").keyup(function(){
				if ($("#visitorname").val() && $("#visitoremail").val() && $("#friendname").val() && $("#friendemail").val()) {
					$("#submit").prop('disabled',false);
				} else {$("#submit").prop('disabled',true);}
			});
		});
	</script>
{% endblock %}
{% block title %}Peintures Swing - Dite-le &#xe0; une amie{% endblock %}
{% block category %}<img src="{{ url_for('static', filename='images/refer_top.png') }}" alt="Refer Swing Paints" width=590 height=29>{% endblock %}
{% block content %}
<p>Connaissez-vous quelqu&#x27;un qui aimerait visiter notre site Web?</p>
<p>Il suffit de nous fournir les informations requises ci-dessous et votre amie recevra un courriel accompagn&#xe9; du lien qui la dirigera directement sur le site Web des Peintures Swing.</p>
<p>Soyez assur&#xe9;, que votre adresse couriel restera confidentielle, elle ne sera jamais diffus&#xe9;e &#xe0; aucune autre compagnie.</p>
<div style="width:50%;margin:0 auto;"><form method="POST" action="/refer?french">
    {{ form.hidden_tag() }}
    {% for field in form %}
    	{% if loop.index == 1 %}
		{% else %}
    <div style="clear:right;">
    {{ field.label }}:
    {{ field(size=20) }}
    {% for error in field.errors %}
    	{{ error | safe }}
    {% endfor %}
    </div>
    	{% endif %}
    {% endfor %}
    <div style="clear:right;"><input type="submit" value="Soumettez"><button href="#" onclick="window.close();return false;" style="float:left;">Fermez</button></div>
</form></div>
{% endblock %}