<!DOCTYPE html>
<html lang="fr">
	<head>{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="description" content="Circa 1850, Environmentally Friendly Paint and Varnish Remover, Wood Stains, Paints And Varnish, Polishes, Tung and Teak Oils.">
		<meta name="google-site-verification" content="y5-Xr5brl7InEid-cPwODY_iUbEEbLXERQ9EzB7stHg">
		<script type='text/javascript' src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/canvas.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/base.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.color-2.1.2.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
		<link rel="alternate" hreflang="en" href="{{ request.base_url }}?lang=english">
		<title>{% block title %}{% endblock %}</title>
		<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://www.swingpaints.com",
			"sameAs" : [
				"http://www.facebook.com/circa1850",
				"http://www.twitter.com/yourProfile",
				"http://plus.google.com/your_profile"
			],
      "logo": "http://www.swingpaints.com/images/top_logo.png",
			"contactPoint" : [
				{
					"@type" : "ContactPoint",
					"telephone" : "+1-603-643-0396",
					"contactType" : "customer service",
					"areaServed" : ["US","CA"],
					"availableLanguage" : ["English","French"]
				},
				{
					"@type" : "ContactPoint",
					"telephone" : "+1-514-932-2157",
					"contactType" : "customer service",
					"areaServed" : ["US","CA"],
					"availableLanguage" : ["English","French"]
				}
			]
    }
    </script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-31602264-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<script>
			$(document).ready(function(){
				$(document).find('div.fb-post').each(function() {
					$(this).attr('data-width', $(this).parent().width());
				});
				canvassing();
				$("#div-search").find("form").keyup(function(){
					console.log("keyup");
					if ($("#search").val()) {
						$(this).prop('action',"{{ url_for('.search',search_string='') }}"+$("#search").val().replace(/ /g,'+'));
					}
				});
			});
		</script>
	{% endblock %}</head>
	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/fr_CA/sdk.js#xfbml=1&version=v2.2";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<canvas id="canvas" style="position:fixed;z-index:2;" width="90" height="1000"></canvas>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul id="flashes">
				{% for message, category in messages %}
					<li class="flash {{ category }}">{{ message }}<a href="#" class="close">&#x00D7;</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<div id="center">
			<div id="main" class="group">
				<div id="mainleft" class="group">
					<div id="logo">
						<a href="{{ url_for('.home',lang='french') }}"><img src="{{ url_for('static', filename='images/top_logo_white.png') }}" alt="logo"></a>
						<div id="logotext">finition la solution de facilit&#xe9; depuis 1965</div>
					</div>
					<div id="div-search">
						<form method="POST" action="/">
							<input id="search" placeholder="Recherchez" type="search">
							<input id="submit" type="submit" value="Recherchez">
						</form>
					</div>
					<div id="sidebar">
					{% block sidebar %}<h1 id="category-heading">Produits</h1>
						<ul id="category-list">{% for category in categories %}
							<li><a href="{{ url_for('.category',categoryid=category[0],lang='french') }}">{{ category[1] | safe }}</a></li>{% endfor %}
						</ul>
						<h1 id="brand-heading">Marques</h1>
						<ul id="brand-list">{% for brand in brands %}
							<li><a href="{{ url_for('.brand',brandid=brand[0],lang='french') }}">{{ brand[1] | safe }}</a></li>{% endfor %}
						</ul>
					{% endblock %}</div>
					<div id="back-handle"></div>
				</div>
				<div id="mainright" class="group">
					<div id="links">
						<ul id="links-desktop">
							<li><a href="{{ url_for('.home',lang='french') }}">ACCEUIL</a></li>
							<li><a href="{{ url_for('.about',lang='french') }}">PROFIL DE L'ENTERPRISE</a></li>
							<li><a href="{{ url_for('.locations',lang='french') }}">O&#xd9; ACHETER</a></li>
							<li><a href="{{ url_for('.faq',lang='french') }}">FAQ</a></li>
							<li><a href="{{ url_for('.contact',lang='french') }}">COMMUNICATIONS</a></li>
							<li><a href="http://www.aitsafe.com/cf/review.cfm?userid=4388412&return={{ request.url }}&lg=8">VOIR LE PANIER</a></li>
							<li><a href="?lang=english">ENGLISH</a></li>
						</ul>
						<ul id="links-mobile">
							<li><a href="{{ url_for('.home',lang='french') }}">ACCEUIL</a></li>
							<li><a href="{{ url_for('.about',lang='french') }}">PROFIL</a></li>
							<li><a href="{{ url_for('.locations',lang='french') }}">O&#xd9; ACHETER</a></li>
							<li><a href="{{ url_for('.faq',lang='french') }}">FAQ</a></li>
							<li><a href="{{ url_for('.contact',lang='french') }}">CONTACTEZ</a></li>
							<li><a href="http://www.aitsafe.com/cf/review.cfm?userid=4388412&return={{ request.url }}&lg=8">PANIER</a></li>
							<li><a href="?lang=english">ENGLISH</a></li>
						</ul>
					</div>
					<div id="content" class="group">
						<div id="mobile-header">
							<div id="mobile-header-left">☰</div>
							<div id="mobile-header-center"><img src="{{ url_for('static', filename='images/top_logo_white.png') }}" alt="Swing Paints"></div>
							<div id="mobile-header-right"><a href="{{ url_for('.home',lang='french') }}">⌂</a></div>
						</div>
						<h1 id="main-heading">{% block categorytext %}{% endblock %}</h1>
						{% block content %}{% endblock %}
					</div>
					<div id="footer">
						<ul id="footer-desktop">
							<li><a href="{{ url_for('.forum',lang='french') }}" class="noscript">FORUM INTERACTIF</a></li>
							<li><a href="{{ url_for('.marketing',lang='french') }}">AIDE DU MARKETING ET DE VENTES</a></li>
							<li><a href="{{ url_for('.refer',lang='french') }}" class="noscript">DITES-LE &#xc0; UNE AMIE</a></li>
							<li><a href="{{ url_for('.brochure',lang='french') }}" class="noscript">BROCHURE GRATUITES</a></li>
						</ul>
						<ul id="footer-mobile">
							<li><a href="{{ url_for('.forum',lang='french') }}" class="noscript">FORUM</a></li>
							<li><a href="{{ url_for('.marketing',lang='french') }}">MARKETING</a></li>
							<li><a href="{{ url_for('.refer',lang='french') }}" class="noscript">REF&#xc9;R&#xc9;Z</a></li>
							<li><a href="{{ url_for('.brochure',lang='french') }}" class="noscript">BROCHURE</a></li>
						</ul>
						<div id="facebook">
							<div class="fb-like" data-href="http://www.facebook.com/circa1850" data-send="false" data-layout="button_count" data-width="285" data-show-faces="false" data-action="recommend" data-font="lucida grande"></div>
						</div>
						<div id="end" style="padding-top:10px;">
							&copy;2015 Swing Paints Ltd. Last modified: August 11, 2015
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
