{% extends "frenchbase.html" %}
{% block head %}
{{ super() }}
<style>
	p { text-align:center; }
</style>
<script>
	var i = 1;
	
	function countdown() {
		window.clearTimeout(timeoutID);
		$('#countdown').html(5-i);
		if (i >= 5) {
			closeWindow();
		} else {
			i++;
			countdownTimer();
		}
	}
	
	function closeWindow() {
		window.open("", "_self", "")
		window.close();
	}
	
	function countdownTimer() {
		timeoutID = window.setTimeout(countdown, 1000);
	}
	
	$(document).ready(function(){
		countdownTimer();
	});
</script>
{% endblock %}
{% block title %}Peintures Swing - Dite-le &#xe0; une amie{% endblock %}
{% block categorytext %}R&#xe9;f&#xe9;rer{% endblock %}
{% block content %}
<p>Merci d'avoir recommandé Swing Paints.</p>
<p>Nous esperons que la personne que vous nous avez recommandez appreciera notre site web</p>
<p>Fenêtre se ferme en:<span id="countdown">5</span></p>
{% endblock %}