<!DOCTYPE html>
<html lang="fr">
	<head>
	{% block head %}
		<meta charset="UTF-8">
		<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='jquery.color-2.1.2.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frenchstyle.css') }}">
		<title>{% block title %}{% endblock %}</title>
	{% endblock %}
	</head>
	<body>
		<!--<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
  				var js, fjs = d.getElementsByTagName(s)[0];
  				if (d.getElementById(id)) return;
  				js = d.createElement(s); js.id = id;
  				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  				fjs.parentNode.insertBefore(js, fjs);
			}
			(document, 'script', 'facebook-jssdk'));
		</script>-->
		<div id="header">
		{% block header %}
			<ul>
				<li><a href="/about?french">PROFIL DE L'ENTERPRISE</a></li>
				<li><a href="/locations?french">O&#xd9; ACHETER</a></li>
				<li><a href="/faq?french">FAQ</a></li>
				<li><a href="/contact?french">COMMUNICATIONS</a></li>
				<li><a href="/marketing?french">AIDE DU MARKETING ET DE VENTES</a></li>
				<li><b><a href="/home?french">ACCEUIL</a></b></li>
				<img src="{{ url_for('static', filename='images/headerswing.png') }}" alt="Swing Paints Header" width="187" height="37">
			</ul>
		{% endblock %}
		</div>
		<div id="sidebar">
		{% block sidebar %}
			<ul>
				<img src="{{ url_for('static', filename='images/categoryswing.png') }}" alt="Swing Paints Sidebar" width="159" height="69"><br />
				<li><a href="/category/accessories?french"> Accessoires et Outiles</a></li>
				<li><a href="/category/epoxies?french"> &#xc9;poxydes et Adh&#xe9;sifs</a></li>
				<li><a href="/category/glueremovers?french">  D&#xe9;capants pour Adh&#xe9;sif et Colle</a></li>
				<li><a href="/category/varnishremovers?french"> D&#xe9;capants pour<br />Peintures et Vernis</a></li>
				<li><a href="/category/oils?french"> Huiles de Finition</a></li>
				<li><a href="/category/poly?french"> Vernis et Polyur&#xe9;thanes</a></li>
				<li><a href="/category/primers?french"> Appr&#xeA;ts pour<br />Peinture et Tapisserie</a></li>
				<li><a href="/category/stains?french"> Teinture &#xE0; Bois Teinture Vernis</a></li>
				<li><a href="/category/waxes?french"> Cires, Polis, et Nettoyeurs</a></li>
				<li><a href="/category/bath?french"> Baignoire Vitrifier &#xc9;poxyde</a></li>
				<li><a href="/category/solvents?french"> Solvants</a></li>
				<li><a href="/category/clearance?french"> Soldes</a></li>
			</ul>
		{% endblock %}
		</div>
		<div id="category">
			{% block category %}
			<div style="background-color:#640032;position:absolute;">{% block categorytext %}{% endblock %}</div>
			<div style="float:right;border-right:1px solid #CCCCCC;"></div>
			{% endblock %}
		</div>
		<div id="container">
			<div id="content">
			{% block content %}{% endblock %}
			</div>
			<div id="footer">
				<ul>
					<li><a href="/forum" class="noscript">FORUM INTERACTIF</a></li>
					<!--<li><a href="/coupon" class="noscript">SWING COUPONS</a></li>-->
					<li><a href="/newsletter?french" class="noscript" target="_BLANK">BULLETIN D'INFORMATIONS</a></li>
					<li><a href="/refer?french" class="noscript" target="_BLANK">DITES-LE &#xc0; UNE AMIE</a></li>
					<li><a href="/brochure?french" class="noscript">BROCHURE GRATUITES</a></li>
				</ul>
				<div id="facebook">
					<!--<div class="fb-like" data-href="http://www.facebook.com/circa1850" data-send="false" data-layout="button_count" data-width="285" data-show-faces="false" data-action="recommend" data-font="lucida grande"></div>-->
				</div>
			</div>
		</div>
	</body>
</html>
