{% extends "base.html" %}
{% block head %}
{{ super() }}
	<style>
		#content ul {
			list-style: none;
			padding: 0px;
			margin: 5px 0;
			width:25%;
			float:left;
			position:relative;
		}
		#content li {display: block; vertical-align: top;}
		#content li:nth-child(1):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/green_circle.jpg') }}');
		}
		#content li:nth-child(2):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/check.jpg') }}');
		}
		#content li:nth-child(3):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/x.jpg') }}');
		}
		#container {
			width:1042px;
		}
		table {
			font-size:9px;
			width:500px;
			margin-left:4px;
		}
		td {
			height:20px;
			width:20px;
			text-align:center;
			padding-left:5px;
			padding-right:5px;
		}
		tr:nth-child(1) td, td:nth-child(1) {
			color:#ffffff;
			background:#999999;
			font-weight:bold;
		}
		table a {
			color:#ffffff;
		}
		table a:hover {
			color:#1D432F;
			text-decoration:underline;
		}
		.check, .circle, .x, .flame{
			background-repeat:no-repeat;
			background-position:center center;
		}
		.check {
			background-image:url('{{ url_for('static', filename='images/check.jpg') }}');
		}
		.circle {
			background-image:url('{{ url_for('static', filename='images/green_circle.jpg') }}');
		}
		.x {
			background-image:url('{{ url_for('static', filename='images/x.jpg') }}');
		}
		.flame {
			background-image:url('{{ url_for('static', filename='images/flame.jpg') }}');
		}
	</style>
{% endblock %}
{% block title %}Swing Paints - Meilleur Décapant{% endblock %}
{% block categorytext %}Choisir le Meilleur Décapant{% endblock %}
{% block content %}
	<table border="1" cellspacing="0">
		<tr>
			<td>PRODUIT</td>
			<td>DÉCAPANT DOUX</td>
			<td>DÉCAPANT À MEUBLES</td>
			<td>REPOLISSEUR À BEAUX MEUBLES</td>
			<td>DÉCAPANT EN PÂTE POUR PEINTURE ET VERNIS</td>
			<td>SUPER DEGOOPER</td>
			<td>WOOD BLEACH</td>
		</tr>
		<tr>
			<td>PEINTURE<br />-<br />HUILE</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>PEINTURE<br />-<br>LATEX</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>PEINTURE<br />-<br>&#xc9;POXY</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>POLY-<br />UR&#xc9;THANE</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>VERNIS</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>LACQUE</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>SHELLAC</td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>OPAQUE STAIN</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>DYE STAIN</td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>INT&#xc9;RIEUR</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>EXT&#xc9;RIEUR</td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>ININ-<br />FLAMMABLE</td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="flame"></td>
			<td class="circle"></td>
			<td class="flame"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>VITESSE</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>GRAIN RAISE</td>
			<td>SLIGHT</td>
			<td>NON</td>
			<td>NON</td>
			<td>NON</td>
			<td>NON</td>
			<td>OUI</td>
		</tr>
		<tr>
			<td>NEUTRALIZE</td>
			<td>NON</td>
			<td>NON</td>
			<td>NON</td>
			<td>NON</td>
			<td>NON</td>
			<td>OUI</td>
		</tr>
		<tr>
			<td>BON POUR ANTIQUES</td>
			<td>OUI</td>
			<td>OUI</td>
			<td>OUI</td>
			<td>OUI</td>
			<td>OUI</td>
			<td>NON</td>
		</tr>
	</table>
	<ul>
		<li>MEILLEUR</li>
		<li>BON</li>
		<li>NE PAS UTILISER</li>
	</ul> 
	<div style="float:right;position:relative;width:75%;margin-top:5px;">
		Avez-vous un problème spécifique et vous n'êtes toujours pas sûr du meilleur produit? Sentez-vous libre pour signaler votre question sur le <a style="text-decoration:underline;" href="{{ url_for('forum') }}">FORUM INTERACTIF</a> pour la réponse LA PLUS PERSONNALISÉE.
	</div>
{% endblock %}