{% extends "frenchbase.html" %}
{% block head %}{{ super() }}<style>div#content h3{color:#1D432F;}</style>{% endblock %}
{% block title %}Peintures Swing - Marketing{% endblock %}
{% block categorytext %}Aide du Marketing et de Ventes{% endblock %}
{% block content %}
<h3>Promotions</h3>
<p>
  Les Peintures Swing émet constamment des communiqués de presse au commerce au sujet de ses nouveaux produits innovateurs. Aussi bien, la publicité dans les publications dirigées vers le marché et le consommateur tout au long de l'année aide à maintenir nos noms de marque fortement visibles. Les Peintures Swing offre également des classes de finition aux consommateurs et au représentants commerciales.
</p>
<h3>Matériaux d'achat</h3>
<p>
  Les Peintures Swing offre une variété de brochures, échantillons, causeurs d'étagère, signes, bons de remise et d'autres matériaux pour aider à la vente des produits.
</p>
<h3>Photos et litérature</h3>
<p>
  Des photos à 4-couleurs sont à votre disposition pour favoriser la ligne des Peintures Swing. L'information technique couvre le détail du préparation et des utilisations de notre ligne complète pour aider à votre vente.
</p>
<h3>MSDS</h3>
<p>
  Pour obtenir les fiches techniques Matérielles de Sûreté, s'il vous plait envoyer un fax sur l'en-tête de lettre de compagnie au bureau chef à Montreal. Les fiches techniques Matérielles de Sûreté sont disponibles sur notre ligne complète sur demande.
</p>
<h3>Service à la clientèle</h3>
<p>
  Notre équipe de représentants qualifiés sont prêt à vous aider de n'importe quel façon possible. Chacun a des années d'expérience dans le domaine de la finition. Les Peintures Swing offre également des classes de finition aux consommateurs et au représentants commerciales.
</p>
<h3>Publicité Co-op</h3>
<p>
  Contacter votre représentant de ventes ou le service à la clientèle pour l'information sur la publicité Co-op.
</p>
<h3>Conditionnement </h3>
<p>
  Nous travaillons constamment pour vous assurer que le regard de l'EXTÉRIEUR de notre produit apparie la qualité du produit contenu À L'INTÉRIEUR. Aussi bien, nous mettons à jour, sans interruption, les instructions et l'information sur nos produits pour les rendre extrêmement "consommateur-amicaux."
</p>
<p>
  Pour plus d'information, contacter le département approprié <a href="{{ url_for('contact',lang='french') }}">ICI</a>.
</p>
{% endblock %}
