{% extends "frenchbase.html" %}
{% block title %}Peintures Swing - Acceuil{% endblock %}
{% block content %}
	<div id="feature">
		<h1>Featured</h1>
		<div class="fb-page" data-href="https://www.facebook.com/circa1850" data-tabs="timeline" data-width="500px" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/circa1850" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/circa1850">Circa 1850 Refinishing, Restoration and Renovation Products</a></blockquote></div>
	</div>
	<div class="threecontent group" style="margin-top:10px">
		<div id="gallery">
			<a href="{{ url_for('gallery', lang='french') }}" style="text-decoration:none;"><img src="{{ url_for('static', filename='images/gallery.jpg') }}" style="width:100%;"></a>
			<h3>Project Gallery</h3>
			<p>Check out some of our customers' great projects</p>
			<a href="{{ url_for('gallery', lang='french') }}" class="more">More</a>
		</div>
		<div id="forum">
			<a href="{{ url_for('forum', lang='french') }}" style="text-decoration:none;"><div style="width:100%;height:287px;line-height:287px;background-color:#336633;color:white;text-align:center;font-size:200px;font-weight:bold;"><div style="-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;">?</div></div></a>
			<h3>Interactive Forum</h3>
			<p>Your ultimate resource for questions &amp; answers about refinishing.</p>
			<a href="{{ url_for('forum', lang='french') }}" class="more">More</a>
		</div>
	</div>
	<div class="twocontent group">
		<div id="mission">
			<h1>Our Mission</h1>
			<p>Les Peintures Swing Lt&#233;e est une entreprise familiale situ&#233;e &#224; Montr&#233;al, Canada. Nous fabriquons des peintures, des vernis et des produits de finition du bois depuis 50 ans. Nous adoptons une approche tr&#232;s pratique de tous les aspects de notre activit&#233;, des mati&#232;res premi&#232;res au &#8216;look&#8217; de chaque marque. Notre objectif est de produire des produits de la plus haute qualit&#233; aux prix les plus comp&#233;titifs.</p>
			<a href="{{ url_for('about', lang='french') }}" class="more">More</a>
		</div>
	</div>
{% endblock %}
