{% extends "frenchbase.html" %}
{% block head %}{{ super() }}<style>div#content p {margin-top:0px;font-size:10px;}</style>{% endblock %}
{% block title %}Peinture Swing - Profil{% endblock %}
{% block category %}<img src="{{ url_for('static', filename='french_about_swing_top.png') }}" alt="Peinture Swing Profil" width=590 height=29>{% endblock %}
{% block content %}
<div style="background:url({{ url_for('static', filename='about_bk.jpg') }});background-repeat:no-repeat;width:580;height:282;"><p>
Les Peintures Swing limitée, est une compagnie familiale qui est établie au Canada depuis 1965. La compagnie manufacturière est localisée sur l'île de Montréal adjacent le canal Lachine, où l'on retrouve l'histoire industrielle. Les Peintures Swing distribue présentement à travers le Canada, les États-Unis, la Grande Bretagne et l'Irlande.
</p><p>
Les Peintures Swing est le plus grosse compagnie conventionnelle et environnementale qui produit de la peinture et du dissolvant de vernis sans aucun danger, au Canada, incluant des produits pour le client / DIY, la finition de métier et d'usage industriel. Les Peintures Swing est la plus grosse compagnie manufacturière au Canada pour la finition de bois.
</p><p>
Les marques, Circa 1850 et Gaudreault Antiques sont connu au niveau national, cela inclut la teinture, les vernis, le recouvrement de polyuréthane, le cirage (polissage), le nettoyant et les dissolvants.
</p><p>
Les Peintures Swing est la compagnie manufacturière, universelle et d'apprêt d'anti-tâche qui utilise les apprêts pour la peinture et la couche de base pour la tapisserie. Tous les apprêts sont à base d'eau, pratiquement sans odeur et l'application peut-être faite soit à l'intérieur ou à l'extérieur.
</p><p>
La compagnie manufacturière est également spécialisée dans les couches d'époxy. Deux composantes d'époxy que l'on étend pour repeindre les baignoires, les tuiles et les lavabos. Ce sont deux composantes d'époxy en aérosol avec deux composantes d'apprêts, qui sont désignés pour rafraîchir les baignoires au niveau commercial et la réparation d'appareils autant que pour les endroits à préparation de nourriture. Deux composantes solidement crées (très épais) d'époxy clair est utilisée pour les arts plastics, les démonstrations, pour les restaurants et pour les tables de bar.
</p></div>
{% endblock %}