{% extends "frenchbase.html" %}
{% block head %}
{{ super() }}
	<style>
		#content table {
			font-size: 9px;
			width: 100%;
			border-spacing: 0px;
			border-right: 1px solid black;
			border-bottom: 1px solid black;
		}
		#content td {
			text-align: center;
			padding-top: 5px;
			padding-bottom: 5px;
			border-left: 1px solid black;
			border-top: 1px solid black;
		}
		#content tr:nth-child(1) td, #content td:nth-child(1) {
			color: #ffffff;
			background: #999999;
			font-weight: bold;
		}
		#content table a {
			color: #ffffff;
			text-decoration: underline;
		}
		#content table a:hover {
			color: #336633;
			text-decoration: underline;
		}
	</style>
{% endblock %}
{% block title %}Peintures Swing - Choisir Le Meilleur Fini{% endblock %}
{% block categorytext %}Choisir Le Meilleur Fini{% endblock %}
{% block content %}
	<table>
		<tr>
	    <td>PRODUIT</td>
	    <td>CAT&Eacute;GORIE DE FINITION</td>
	    <td>GENRE DE FINI</td>
	    <td>LUSTRE</td>
	    <td>SOLIDIT&Eacute;</td>
	    <td>R&Eacute;SISTANCE &Agrave; L'EAU</td>
	    <td>S&Eacute;CHAGE &quot;&Agrave; TOUCHE&quot;</td>
	    <td>S&Eacute;CHAGE POUR R&Eacute;ENDUISAGE</td>
	    <td>RECOUVREMENT PAR LITRE</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1600') }}">ANTIQUAX</a></td>
	    <td>SURFACE</td>
	    <td>CIRE</td>
	    <td>SEMI-LUSTRÉ</td>
	    <td>MOYENNE</td>
	    <td>TRÈS BON</td>
	    <td>NA</td>
	    <td>NA</td>
	    <td>NA</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='760') }}">HUILE ANTIQUE</a></td>
	    <td>SURFACE</td>
	    <td>HUILE/VERNIS</td>
	    <td>SEMI-LUSTR&Eacute;</td>
	    <td>MOYENNE</td>
	    <td>TR&Egrave;S BON</td>
	    <td>2 HEURES</td>
	    <td>8 HEURES</td>
	    <td>150</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1805') }}">VERNIS EN P&Acirc;TE ANTIQUE</a></td>
	    <td>SURFACE</td>
	    <td>UR&Eacute;THANE</td>
	    <td>SEMI-LUSTR&Eacute;</td>
	    <td>HAUTE</td>
	    <td>EXCELLENT</td>
	    <td>15 MINUTES</td>
	    <td>8 HEURES</td>
	    <td>100</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1815') }}">VERNIS EXT&Eacute;RIEUR</a></td>
	    <td>SURFACE</td>
	    <td>ABRASIN PH&Eacute;NOLIQUE</td>
	    <td>SEMI-LUSTR&Eacute;</td>
	    <td>HAUTE</td>
	    <td>EXCELLENT</td>
	    <td>2 HEURES</td>
	    <td>24 HEURES</td>
	    <td>100</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1818') }}">POLYUR&Eacute;THANE &Agrave; S&Eacute;CHAGE RAPIDE</a></td>
	    <td>SURFACE</td>
	    <td>POLYUR&Eacute;THANE</td>
	    <td>SATIN&Eacute; OU LUSTR&Eacute;</td>
	    <td>HAUTE</td>
	    <td>EXCELLENT</td>
	    <td>1 HEURE</td>
	    <td>2 HEURES</td>
	    <td>100</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1803') }}">HUILE DE CITRON</a></td>
	    <td>SURFACE</td>
	    <td>HUILE</td>
	    <td>LUSTR&Eacute; OU SEMI-LUSTR&Eacute;</td>
	    <td>BASSE</td>
	    <td>TR&Egrave;S BON</td>
	    <td>1 HEURE</td>
	    <td>1 HEURE</td>
	    <td>200</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='2100') }}">NATUROIL</a></td>
	    <td>P&Eacute;N&Eacute;TRANT</td>
	    <td>HUILE</td>
	    <td>LUSTRE DOUX</td>
	    <td>BASSE</td>
	    <td>BON</td>
	    <td>NA</td>
	    <td>1 HEURE</td>
	    <td>250</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1555') }}">NU-LUSTRE-55</a></td>
	    <td>SURFACE</td>
	    <td>&Eacute;POXY</td>
	    <td>SUPER LUSTR&Eacute;</td>
	    <td>HAUTE</td>
	    <td>EXCELLENT</td>
	    <td>4 HEURES</td>
	    <td>24 HEURES</td>
	    <td>10</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1807') }}">HUILE TUNG'N TEAK</a></td>
	    <td>P&Eacute;N&Eacute;TRANT</td>
	    <td>HUILE</td>
	    <td>LUSTRE DOUX</td>
	    <td>MOYENNE</td>
	    <td>BON</td>
	    <td>1 HEURE</td>
	    <td>1 HEURE</td>
	    <td>200</td>
	  </tr>
	  <tr>
	    <td><a href="{{ url_for('product', productid='1802') }}">HUILE D'ABRASIN</a></td>
	    <td>P&Eacute;N&Eacute;TRANT</td>
	    <td>HUILE</td>
	    <td>LUSTRE DOUX</td>
	    <td>MOYENNE</td>
	    <td>BON</td>
	    <td>1 HEURE</td>
	    <td>1 HEURE</td>
	    <td>200</td>
	  </tr>
	</table>
	<p>
		Avez-vous un probl&#xe8;me sp&#xe9;cifique et vous n'&#xea;tes toujours pas s&#xfb;r du meilleur produit? Sentez-vous libre pour signaler votre question sur le <a href="{{ url_for('forum') }}">FORUM INTERACTIF</a> pour la r&#xe9;ponse LA PLUS PERSONNALIS&#xc9;E.
	</p>
{% endblock %}
