{% extends "frenchbase.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}
{% block title %}{{ product.title | replace("<br>", " ") | safe }}{% endblock %}
{% block categorytext %}{{ category | safe }}{% endblock %}
{% block content %}
	<div class="group">
		<div id="image"><img src="{{ url_for('static', filename='images/french/lg/%s.jpg' % product.id ) }}" id="picture" alt="{{ product.title | safe }}"></div>
		<div id="text"><span id="product-title">{{ product.title | replace("<br>", " ") | safe }}</span><p>{{ product.text | safe }}</p></div>
	</div>
	<div id="tabs" class="group">
	  <div class="label directions">Mode d'Emploi<span>
	  </span></div>
		<div class="stuff directions">
			{% if product.directions %}
			<p>{{ product.directions | safe }}</p>
			{% else %}
			<p>Aucun directions disponibles.</p>
			{% endif %}
		</div>
		<div class="label more-info"><span>Plus d'Information</span></div>
		<div class="stuff more-info group">
			<div id="infotable">
				<table>
					<tr>
						<td colspan="2">
							<b>Code de Produit: </b>{{ product.id }}
						</td>
					</tr>
					<tr>
						<td>Format:</td>
						<td>Emballage:</td>
					</tr>
					{% for item in product.infotable: %}
					<tr>
						<td>{{ item[0] | safe }}</td>
						<td>{{ item[1] | safe }}</td>
					</tr>
					{% endfor %}
				</table>
				<p style="text-align:left;">
					{% if product.id == 400 %}
					<a href="{{ url_for('aquacolour', lang='french') }}" target="_blank">&#x00C9;chantillons de Couleur</a>
					{% elif product.id == 709 %}
					<a href="{{ url_for('static', filename='colour_swatches_709.pdf') }}" target="_blank">&#x00C9;chantillons de Couleur</a>
					{% elif product.id == 760 or product.id == 762 %}
					<a href="{{ url_for('static', filename='colour_swatches_760.pdf') }}" target="_blank">&#x00C9;chantillons de Couleur</a>
					{% elif product.id == 770 %}
					<a href="{{ url_for('static', filename='colour_swatches_770.pdf') }}" target="_blank">&#x00C9;chantillons de Couleur</a>
					{% elif product.id == 3220 or product.id == 3200 or product.id == 1800 or product.id == 1806 or product.id == 1820 or product.id == 1801 %}
					<a href="{{ url_for('rightstripper', lang='french') }}" target="_blank">Choisir le Bon D&#x00E9;capant</a>
					{% elif product.id == 760 or product.id ==  1600 or product.id ==  1807 or product.id ==  1802 or product.id ==  1604 or product.id ==  1819 or product.id ==  1818 or product.id ==  1817 or product.id ==  1805 or product.id ==  1815 or product.id ==  1803 or product.id ==  2100 or product.id ==  1555 or product.id ==  8100 or product.id ==  1527 or product.id ==  1557 or product.id ==  1566 or product.id ==  1418 %}
					<a href="{{ url_for('rightfinish', lang='french') }}" target="_blank">Choisir la Bonne Finition</a>
					{% endif %}
				</p>
			</div>
			<div id="infotext">
				<ul>
				{% for item in product.infolist: %}
					<li>{{ item[0] | safe }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="label purchase"><span>Acheter</span></div>
		<div class="stuff purchase">
			<p>Nos produits sont disponibles dans de nombreux points de vente. Pour trouver un magasin pr&#xe8;s de chez vous, s'il vous pla&#xee;t cliquer sur <a href="{{ url_for('locations', lang='french') }}">O&#xd9; ACHETER</a>.</p>
			<p>Vous pouvez &#xe9;galement acheter nos produits en utilisant notre boutique en ligne en cliquant <a class="buybutt">ACHETEZ MAINTENANT CANADA</a> ou <a class="buybutt">ACHETER MAINTENANT USA</a>.</p>
			<div class="buystuff">
				<form method="post" action="http://www.aitsafe.com/cf/add.cfm">
					<input type="hidden" value="4388412" name="userid">
					<input type="hidden" value="0" name="currency">
					<input type="hidden" value="8" name="lg">
					<input type="hidden" value="{{ request.url }}" name="return">
					{% if product.forms_can %}
					<select style="font-size:12px" name="productpr">
					{{ product.forms_can | safe }}
					</select>
					<input type="submit" style="font-size:12px" value="Ajouter au panier Canada">
					{% else %}
					<select style="font-size:12px" name="productpr" disabled>
						<option value=":0.00"> Non Disponible &#xe0; l'Achat en Ligne </option>
					</select>
					<input type="submit" style="font-size:12px" value="Ajouter au panier Canada" disabled>
					{% endif %}
				</form>
			</div>
			<div class="buystuff">
				<form method="post" action="http://www.aitsafe.com/cf/add.cfm">
					<input type="hidden" value="4388412" name="userid">
					<input type="hidden" value="1" name="currency">
					<input type="hidden" value="8" name="lg">
					<input type="hidden" value="{{ request.url }}" name="return">
					{% if product.forms_us %}
					<select style="font-size:12px" name="productpr">
					{{ product.forms_us | safe }}
					</select>
					<input type="submit" style="font-size:12px" value="Ajouter au panier US">
					{% else %}
					<select style="font-size:12px" name="productpr" disabled>
						<option value=":0.00"> Non Disponible &#xe0; l'Achat en Ligne </option>
					</select>
					<input type="submit" style="font-size:12px" value="Ajouter au panier US" disabled>
					{% endif %}
				</form>
			</div>
			<p id="buyreturn"><a>Return</a></p>
		</div>
		<div class="label demonstrations"><span>D&#xe9;monstrations</span></div>
		<div class="stuff demonstrations">
			{% if product.demo %}
			<iframe id="iframe" src="//www.youtube-nocookie.com/embed/{{ product.demo }}" allowfullscreen></iframe>
			{% else %}
			<p>Aucune démonstration disponible.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
