{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
	p { font-size:10px; }
	.shown {
		border-left:1px solid black;
		border-right:1px solid black;
	}
	.hidden {
		border-bottom:1px solid black;
		background:#FFF;
		color: #006633;
	}
	.hidden:hover{
		background: #CCFFCC;
	}
	.label {
		margin: 0;
		width: 14.2%;
		float: left;
		text-align: center;
		padding: 2px 0;
	}
</style>
<script type='text/javascript'>
	$(document).ready(function(){
		$(".label").click(function(){
			var labelindex = $(this).index();
			$(".stuff").eq(labelindex).siblings().hide("fast");
			$(".stuff").eq(labelindex).show("fast");
			$(this).addClass("shown").removeClass("hidden");
			$(this).siblings().addClass("hidden").removeClass("shown");
		});
	});
</script>
{% endblock %}
{% block title %}Swing Paints - Locations{% endblock %}
{% block category %}<img src="{{ url_for('static', filename='where_buy_top.png') }}" alt="Swing Paints Locations" width=590 height=29>{% endblock %}
{% block content %}
<a class="shown label" href="#">Canada</a>
<a class="hidden label" href="#">Quebec</a>
<a class="hidden label" href="#">Ontario</a>
<a class="hidden label" href="#">W. Canada</a>
<a class="hidden label" href="#">E. Canada</a>
<a class="hidden label" href="#">US</a>
<a class="hidden label" href="#">S. Pacific</a>
<div style="font-size:10px;background: #eee;right: 0;bottom: 0;padding: 0.5em;border: 1px solid #000000;width: 97.6%;">
	<div class="stuff"><table width="100%">
								<tr>
									<td>Canadian Tire</td>
									<td><p>- Circa 1850 Furniture Stripper, Circa 1850 Soft Strip</p><p>- Circa 1850 Heavy Body Paint & Varnish Remover</p></td>
								</tr>
								<tr>
									<td><a href="http://www.castle.ca/locator_nationalmap.php" target="_new">Castle Building Centres</a></td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td><a href="http://www.icipaints.ca/about/store.jsp" target="_new">Color Your World</a></td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td>Home Depot</td>
									<td><p>- selection varies by individual store location<p></td>
								</tr>
								<tr>
									<td>Home Hardware</td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td><a href="http://www.icipaints.ca/about/store.jsp" target="_new">ICI - Glidden</a></td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td>Lowes</td>
									<td><p> - Stripping Kit for Dummies<p></td>
								</tr>
								<tr>
									<td>Pro Hardware</td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td><a href="http://www.rona.ca/webapp/wcs/stores/servlet/locators/storelocator.jsp?storeId=10001&langId=-1&height=#620px" target="_new">RoNa</a></td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td><a href="http://www.timbr.com/geolocation.php">Tim-BR-Mart</a></td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td><a href="http://www.truserv.ca/pls/truserv_pub/truserv.app?p_sec_id=3" target="_new">TruServe</a></td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products<p></td>
								</tr>
								<tr>
									<td>Wal-Mart</td>
									<td><p>- Circa 1850 Furniture Stripper, Circa 1850 Soft Strip</p><p>- Circa 1850 Heavy Body Paint & Varnish Remover, Super DeGooper<p></td>
								</tr>
							</table>
	</div>
	<div class="stuff" style="display:none">
		<table width="100%">
								<tr>
									<td><a href="http://www.antiquerssupply.com" target="_new">Antiquers Supply</a> (Montreal)</td>
									<td><p>- complete selection</p></td>
								</tr>
								<tr>
									<td>Arthur Rivest (Ste-Julienne)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Au Balcon Rustique (Laval)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.bmr-legroupe.ca/bmr/dealers.asp" target="_new">BMR</a></td>
									<td><p> - selection varies by individual store location</p><p>- stores can order most products</p></td>
								</tr>
								<tr>
									<td><a href="http://www.algonquindirect.com" target="new">Boiseries Algonquin</a> (Mirabel)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Bois Ideal (Montreal)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.boiserieslachute.ca" target="new">Boiseries Lachute</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.bonhomme.ca/index.php?module=CMS&func=view&id=43" target="new">Bonhomme</a></td>
									<td><p> - selection varies by individual store location</p></td>
								</tr>
								<tr>
									<td>Cantin et fils (Quebec)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Chez Le Peintre (Laval)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Co-op Federée</td>
									<td><p>- selection varies by individual store location</p><p>- stores can order most products</p></td>
								</tr>
								<tr>
									<td>Empire (Montreal)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Henri Jean et fils (La Malbaie)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>JTM Sawmill (St-Lazare)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.juneau.ca" target="new">Juneau et freres</a> (Quebec)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Materiaux Construction</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Robidoux (Cazaville)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.ocoderre.com" target="new">O. Coderre</a> (St-Jacques)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Patiorama (Quebec, Lévis, Vanier)</td>
									<td><p>- Marine Grade Tung'n Teak Oil</p></td>
								</tr>
								<tr>
									<td><a href="http://www.patrickmorin.com/magasins.asp" target="new">Patrick Morin</a></td>
									<td><p> - selection varies by individual store location</p><p>- stores can order most products</p></td>
								</tr>
								<tr>
									<td>Pilon (Gatineau)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.potvinbouchard.qc.ca/succursales.htm" target="_blank">Potvin Bouchard</a></td>
									<td><p> - selection varies by individual store location</p><p>- stores can order most products</p></td>
								</tr>
								<tr>
									<td>Probex (Roxboro)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Quincaillerie Delormier (Montréal)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Quincaillerie Gauthier (Labelle)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Quincaillerie Hogg (Montréal)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Quincaillerie Liege (Montréal)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Quincaillerie A. Pouliot (Beauharnois)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Renocentre DG (Montreal)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Reno Depot</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Trevi Pools & Spas (Quebec)</td>
									<td><p>- Marine Grade Tung'n Teak Oil</p></td>
								</tr>
							</table>
	
	</div>
	<div class="stuff" style="display:none">
		<table width="100%">
								<tr>
									<td>Bond's Décor (Ottawa)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.bonhomme.ca/index.php?module=CMS&func=view&id=43" target="new">Bytown Lumber</a></td>
									<td><p>- selection varies by individual store location</p></td>
								</tr>
								<tr>
									<td>Canadian Auto (Windsor)</td>
									<td><p>- most products</p></td>
								</tr>
								<tr>
									<td><a href="http://www.europeanglass.ca/" target="new">EGP</a> (Ottawa)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td>Exclusive Paints (Toronto)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.houseofcolourinc.ca/" target="new">House of Colour</a> (Bolton)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>New York Paints (Toronto)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Newcastle Home Décor (Newcastle)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Orangeville Paint and Paper (Orangeville)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Paint Colours (Toronto)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Pierre Marcoux Decoration (Rockland)</td>
									<td><p>- excellent selection</p></td>
								</tr>
								<tr>
									<td><a href="http://www.randallspaints.com/ran_2007/Index.html#" target="new">Randall's</a></td>
									<td><p>- selection varies by individual store location</p></td>
								</tr>
								<tr>
									<td>Reims (Toronto)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Whitby Decorating Centre (Whitby)</td>
									<td><p>- good selection</p></td>
								</tr>
								<tr>
									<td>Weeks Home Hardware (Waterdown)</td>
									<td><p>- good selection</p></td>
								</tr>
							</table>
	</div>
	<div class="stuff" style="display:none">
		<table>
							<tr>
								<td>Cloverdale Paint</td>
								<td><p>- Circa 1850 Furniture Stripper, Heavy Body Remover, Tung Oil</p><p>- Wallpaper Prep-Coat, Swing Professional Remover</p></td>
							</tr>
							<tr>
								<td><a href="http://www.paintedmonton.com/days" target="_blank">Day's Paint</a> (Edmonton)</td>
								<td><p>- most products</p></td>
							</tr>
							<tr>
								<td>Federated Co-op</td>
								<td><p>- selection varies by individual store location</p></td>
							</tr>
							<tr>
								<td><a href="http://www.fargeys.com/" target="_new">Fargey's Paint<a/> (AB)</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td>Freddie's Paint (AB)</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td>General Paint</td>
								<td><p>- selection varies by individual store location</p></td>
							</tr>
							<tr>
								<td><a href="http://www.irlybird.com/dlrn.shtm" target="_new">IRLY</a> (BC)</td>
								<td><p>- selection varies by individual store location</p><p>- stores can order most products</p></td>
							</tr>
							<tr>
								<td>Kans of Any Colour (Edmonton)</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td>Overwall's Paint (Calgary)</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td><a href="http://www.sunnysidehomeandgarden.com" target="_blank">Sunnyside Greenhouse</a> (Calgary)</td>
								<td><p>- Tung'n Teak Oil</p></td>
							</tr>
							<tr>
								<td><a href="http://www.totembuildingsupplies.com/" target="_new">Totem Building Supplies (AB)</a></td>
								<td><p>- selection varies by individual store location</p></td>
							</tr>
							<tr>
								<td><a href="http://www.windsorplywood.com" target="_blank">Windsor Plywood</a></td>
								<td><p>- selection varies by individual store location</p></td>
							</tr>
						</table>
	</div>
	<div class="stuff" style="display:none">
		<table>
							<tr>
								<td><a href="http://www.centralns.ca/contact_us.html" target="_new">Central Supplies</a> (NS)</td>
								<td><p>- selection varies by individual store location</p></td>
							</tr>
							<tr>
								<td>Kent Building Supplies</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td>MacKinnon&#x27;s Colour Centre</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td><a href="http://www.pierceys.ns.ca" target="_blank">Piercey&#x27;s</a></td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td>Schurman's Building Supplies (PE)</td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td>Wheaton's</td>
								<td><p>- Terra Nova</p></td>
							</tr>
						</table>
	</div>
	<div class="stuff" style="display:none">
		<table>
							<tr>
								<td><a href="http://www.hamiltonmarine.com" target="_new">Hamilton Marine</a></td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td><a href="http://www.jamestowndistributors.com" target="_new">Jamestown Distributors</a></td>
								<td><p>- good selection</p></td>
							</tr>
							<tr>
								<td colspan="2" style="text-align:center;color:#3333ff;font-size:12px">EASTERN US</td>
							</tr>
							<tr>
								<td><a href="http://www.hardwarestore.com" target="_new">Aubuchon Hardware</a></td>
								<td><p>- Terra Nova</p></td>
							</tr>
							<tr>
								<td>Litchfield Paint & Wallpaper (Litchfield, CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>John Boyle Decorating Center (New Britain, CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>McDermott Paint & Wallpaper (Greenwich, CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Taylor's Paint Center (Fairfield, CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>United Paint & Wallpaper (Wethersfield, CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Branford Paint (Branford, CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Ring's End Lumber (CT)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Creative Walls (Springfield, MA)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td><a href="http://www.factorypaint.com" target="_new">Factory Paint</a> (S. Weymouth, Plymouth, N. Pembroke MA)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Hometown Paint (Franklin, MA)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Sherwin Williams (Lexington, MA)<font style="color:#ff0000"> NEW</font></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Sherwin Williams (Needham, MA)<font style="color:#ff0000"> NEW</font></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Waltham Wallpaper & Paint (MA)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Eagle Paint & Wallpaper (Englewood, NJ)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Painten Place (NJ)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Elmont Paint (NY)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Ring's End Lumber (NY)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Sherwin Williams (Rochester, NY)<font style="color:#ff0000"> NEW</font></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Sherwin Williams (Southampton, NY)<font style="color:#ff0000"> NEW</font></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Sherwin Williams (Newtown Square, PA)<font style="color:#ff0000"> NEW</font></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Sherwin Williams (VA)</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td colspan="2" style="text-align:center;color:#3333ff;font-size:12px">CENTRAL US</td>
							</tr>
							<tr>
								<td>Sherwin Williams (Columbia Heights, MN)<font style="color:#ff0000"> NEW</font></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td>Calumet Paint & Wallpaper</td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
							<tr>
								<td colspan="2" style="text-align:center;color:#3333ff;font-size:12px">WESTERN US</td>
							</tr>
							<tr>
								<td><a href="http://www.canoeonline.net" target="_new">Canoe</a> (OR)</td>
								<td><p>- Terra Nova</p></td>
							</tr>
							<tr>
								<td><a href="http://www.heathceramics.com" target="_new">Heath Ceramics</a> (CA)</td>
								<td><p>- Terra Nova</p></td>
							</tr>
							<tr>
								<td><a href="http://www.hemingwayandpickett.com" target="_new">Hemingway and Pickett</a> (CA)</td>
								<td><p>- Terra Nova</p></td>
							</tr>
							<tr>
								<td><a href="http://okstore.la/index.php" target="_new">OK</a> (CA)</td>
								<td><p>- Terra Nova</p></td>
							</tr>
							<tr>
								<td><a href="http://www.tableartonline.com" target="_new">TableArt</a> (CA)</td>
								<td><p>- Terra Nova</p></td>
							</tr>
							<tr>
								<td><a href="http://www.dunnedwards.com" target="_new">Dunn Edwards</a></td>
								<td><p>- Wallpaper Prep-Coat</p></td>
							</tr>
						</table>
	</div>
	<div class="stuff" style="display:none">
		<table width="100%">
							<tr>
								<td>Mason's Hardware Do-It Center (Palau)</td>
								<td><p>- Nu-Lustre-55</p></td>
							</tr>
						</table>
	</div>
</div>
{% endblock %}
