{% extends "base.html" %}
{% block categorytext %}Administrator Login{% endblock %}
{% block head %}
{{ super() }}
<style>
#content div:last-of-type {
  text-align: center;
}
#content div {
  clear: right;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
</style>
{% endblock %}
{% block content %}
<form method="POST" action="/login">
    {{ login_form.hidden_tag() }}
    <div>{{ login_form.username.label }} {{ login_form.username(size=20, style='float: right;') }}</div>
    <div>{{ login_form.password.label }} {{ login_form.password(size=20, style='float: right;') }}</div>
    <div><input type="submit" value="Submit"></div>
</form>
{% endblock %}
