{% extends "base.html" %}
{% block head %}
<meta name="description" content="This is the Swing Paints main page">
{% endblock %}
{% block title %}Swing Paints - Home{% endblock %}
{% block content %}
	<div id="feature">
		<h1>Featured</h1>
		<div class="fb-page" data-href="https://www.facebook.com/circa1850" data-tabs="timeline" data-width="500px" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/circa1850" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/circa1850">Circa 1850 Refinishing, Restoration and Renovation Products</a></blockquote></div>
	</div>
	<div class="threecontent group" style="margin-top:10px">
		<div id="gallery">
			<a href="{{ url_for('gallery') }}" style="text-decoration:none;"><img src="{{ url_for('static', filename='images/gallery.jpg') }}" style="width:100%;"></a>
			<h3>Project Gallery</h3>
			<p>Check out some of our customers' great projects</p>
			<a href="{{ url_for('gallery') }}" class="more">More</a>
		</div>
		<div id="forum">
			<a href="{{ url_for('forum') }}" style="text-decoration:none;"><div style="width:100%;height:287px;line-height:287px;background-color:#336633;color:white;text-align:center;font-size:200px;font-weight:bold;"><div style="-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;">?</div></div></a>
			<h3>Interactive Forum</h3>
			<p>Your ultimate resource for questions &amp; answers about refinishing.</p>
			<a href="{{ url_for('forum') }}" class="more">More</a>
		</div>
	</div>
	<div class="twocontent group">
		<div id="mission">
			<h1>Our Mission</h1>
			<p>Swing Paints Limited is a family-owned and operated business located in Montreal, Canada. We have been manufacturing paints, varnishes, and wood refinishing products for the last 50 years. We take a very hands-on approach to every aspect of our business - from the raw materials to the look of each label. Our goal is to produce the highest quality products at the most competitive prices.</p>
			<a href="{{ url_for('about') }}" class="more">More</a>
		</div>
	</div>
{% endblock %}
