{% extends "base.html" %}
{% block title %}Swing Paints - Home{% endblock %}
{% block head %}
{{ super() }}
<script>
window.fbAsyncInit = function() {
	FB.init({
		appId      : '1013304338702296',
		xfbml      : true,
		version    : 'v2.4'
	});
	var pageAccessToken = '1013304338702296|fbad99fd05fd048adfb8e3c00449cd66';
	FB.api(
		'/circa1850/posts',
		{
			access_token : pageAccessToken
		},
		function(response) {
			$('#feature h1').after('<div class="fb-post" data-href="https://www.facebook.com/circa1850/posts/' + response.data[0].id.split('_')[1] + '" data-width="750"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/circa1850/posts/' + response.data[0].id.split('_')[1] + '"><p>' + response.data[0].message + '</p>Posted by <a href="https://www.facebook.com/Circa1850">Circa 1850 Refinishing, Restoration and Renovation Products</a> on&nbsp;<a href="https://www.facebook.com/circa1850/posts/' + response.data[0].id.split('_')[1] + '">Wednesday, May 29, 2013</a></blockquote></div></div>');
			FB.XFBML.parse();
		});
	};
</script>
{% endblock %}
{% block content %}
	<div id="feature">
		<h1>Featured</h1>
	</div>
	<div class="threecontent group" style="margin-top:10px">
		<div id="new">
			<div style="width:100%;height:188px;background-color:black;color:white;">imgfiller</div>
			<h3>New &amp; Noteworthy</h3>
			<p>Your guide to what's new, what's hot &amp; what's interesting.</p>
			<a href="" class="more">More</a>
		</div>
		<div id="gallery">
			<img src="{{ url_for('static', filename='images/gallery.jpg') }}" style="width:100%;">
			<h3>Project Gallery</h3>
			<p>Check out some of our customers' great projects</p>
			<a href="{{ url_for('gallery') }}" class="more">More</a>
		</div>
		<div id="forum">
			<div style="width:100%;height:188px;background-color:black;color:white;">imgfiller</div>
			<h3>Interactive Forum</h3>
			<p>Your ultimate resource for questions &amp; answers about refinishing.</p>
			<a href="{{ url_for('forum') }}" class="more">More</a>
		</div>
	</div>
	<div class="twocontent group">
		<div id="mission">
			<h1>Our Mission</h1>
			<p>Swing Paints Limited is a family-owned and operated business located in Montreal, Canada. We have been manufacturing paints, varnishes, and wood refinishing products for the last 50 years. We take a very hands-on approach to every aspect of our business - from the raw materials to the look of each label. Our goal is to produce the highest quality products at the most competitive prices.</p>
			<a href="{{ url_for('about') }}" class="more">More</a>
		</div>
	</div>
{% endblock %}
