{% extends 'base.html' %}
{% block title %}Swing Paints Forum - {{ message.subject | safe }}{% endblock %}
{% block head %}
{{ super() }}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forum.css') }}">
		<script type='text/javascript' src="{{ url_for('static', filename='js/forum.js') }}"></script>
		<style>
			td:nth-child(1) {
				width:15%;
			}
			tr {
				vertical-align:top;
				background-color:#D3D3D3;
			}
			td span:nth-child(1) {
				font-weight:bold;
			}
		</style>
		<script>
			$(document).ready(function(){
				$("#forum-side").offset({left:$("#content").offset().left+$("#content").outerWidth(true),top:$("#top").offset().top+$('#flashes').height()});
				$("#top").click(function(){
					$('html, body').animate({scrollTop:0});
				});
				$("#bottom").click(function(){
					$('html, body').animate({scrollTop:$('body').height()});
				});
				$("#subject").val("Re: {{ message.subject | safe }}");
				{% if not message_form.errors %}
				$("form").find("input, textarea").not("#csrf_token, #subject, #submit, #notifyemail-0, #notifyemail-1").val('');
				{% endif %}
				function display(name,email,time,subject,text) {
					var newRow  = document.getElementById("write").insertRow(-1);
					var newCell = newRow.insertCell(-1);
					var htmlNode = document.createElement('span');
					htmlNode.innerHTML = '<a href="mailto:'+email+'">'+name+'</a><br />';
					newCell.appendChild(htmlNode);
					var htmlNode2 = document.createElement('span');
					htmlNode2.innerHTML = time;
					newCell.appendChild(htmlNode2);
					var newCell2 = newRow.insertCell(-1);
					var htmlNode3 = document.createElement('span');
					$(newCell2).attr("id",time);
					htmlNode3.innerHTML = '<a href="#'+time+'">'+subject+'</a><br />';
					newCell2.appendChild(htmlNode3);
					var htmlNode4 = document.createElement('span');
					htmlNode4.innerHTML = text;
					newCell2.appendChild(htmlNode4);
				}
				display('{{ message.name }}','{{ message.email }}','{{ message.date | safe }}','{{ message.subject }}','{{ message.message | replace("\r","") | replace("\n","<br />") | replace("\'","\\\'") | safe }}');
				{% for reply in replies %}
					display('{{ reply.name }}','{{ reply.email }}','{{ reply.date | safe }}','{{ reply.subject }}','{{ reply.message | replace("\r","") | replace("\n","<br />") | replace("\'","\\\'") | safe }}');
				{% endfor %}
			});
		</script>
{% endblock %}
{% block categorytext %}Forum Message{% endblock %}
{% block content %}
		<table id="write">
			<tr style="background-color:#666666;color:white;">
				<td style="font-weight:bold;">From</td>
				<td style="font-weight:bold;">Message</td>
			</tr>
		</table>
		<h2>New message:</h2>
		<form id='message-form' method="POST" action="{{ url_for('.message',message_id=message.IDmessage) }}">
		{{ message_form.hidden_tag() }}
			<div style="float:left;width:100%;">
			{% for field in message_form %}
				<div>
				{% if loop.index == 1 %}
				{% else %}
					{% if field.type == 'RecaptchaField' %}
					{% else %}
						{{ field.label }}:
					{% endif %}
					{{ field }}
				{% endif %}
				</div>
			{% endfor %}
				<div><input id="submit" type="submit" value="Submit"></div>
		    </div>
		</form>
		<ul id="forum-side" style="position:fixed;color:white;top:150px;">
			<li>[ <a id="top" href="#">top &#8593;</a> ]</li>
			<li>[ <a id="forum-back" href="{{ url_for('forum', page=1) }}">forum &#8592;</a> ]</li>
			<li>[ <a id="bottom" href="#">bottom &#8595;</a> ]</li>
		</ul>
{% endblock %}
