<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<script type='text/javascript' src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title></title>
		<style>
			table {width:100%;}
			td:nth-child(1) {
				width:15%;
			}
			tr {
				vertical-align:top;
				background-color:#D3D3D3;
			}
			td span:nth-child(1) {
				font-weight:bold;
			}
		</style>
		<script>
			$(document).ready(function(){
				var data_total = {{ data | replace("u'","'") | replace('u"','"') | safe }};
				console.log(data_total);
				$("title").html("Swing Paints Forum - " + data_total["subject"]);
				function display(data,tableID) {
					var newRow  = document.getElementById(tableID).insertRow(-1);
					var newCell = newRow.insertCell(-1);
					var htmlNode = document.createElement('span');
					htmlNode.innerHTML = data["author"] + "<br />";
					newCell.appendChild(htmlNode);
					var htmlNode2 = document.createElement('span');
					htmlNode2.innerHTML = data["time"];
					newCell.appendChild(htmlNode2);
					var newCell2 = newRow.insertCell(-1);
					var htmlNode3 = document.createElement('span');
					$(newCell2).attr("id",data["time"]);
					htmlNode3.innerHTML = "<a href=\"#" + data["time"] + "\">" + data["subject"] + "</a>:<br />";
					newCell2.appendChild(htmlNode3);
					var htmlNode4 = document.createElement('span');
					htmlNode4.innerHTML = data["text"];
					newCell2.appendChild(htmlNode4);
					if (data["replies"]) {
						var newRow2  = document.getElementById(tableID).insertRow(-1);
						var newCell3 = newRow2.insertCell(-1);
						$(newRow2).css("background-color","white");
						$(newTable).css("margin-left","10px");
						$(newCell3).attr("colspan",2);
						var newTable = document.createElement('table');
						$(newTable).css("margin-left","10px");
						var newTableID = Math.random()
						$(newTable).attr("id",newTableID);
						newCell3.appendChild(newTable);
						for (reply in data["replies"]) {
							display(data["replies"][reply],newTableID);
						}
					}
				}
				display(data_total,"write");
			});
		</script>
	</head>
	<body>
		<table id="write">
			<tr style="background-color:#666666;color:white;">
				<td style="font-weight:bold;">From</td>
				<td style="font-weight:bold;">Message</td>
			</tr>
		</table>
	</body>
</html>