{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
	.buystuff {
		height:90px;
	}
	.buybutt {
		height:90px;
	}
	.stuff a {
		text-decoration:underline;
		color: #336633;
	}
	.shown {
		border-left:1px solid black;
		border-right:1px solid black;
		border-top:1px solid black;
	}
	.hidden {
		border-bottom:1px solid black;
		background:#FFF;
		color: #336633;
	}
	.hidden:hover{
		background: #CCFFCC;
	}
	.label {
		margin: 0;
		width: 24.75%;
		float: left;
		text-align: center;
		padding: 2px 0;
	}
</style>
<script type='text/javascript'>
	$(document).ready(function(){
		$(".label").click(function(){
			var labelindex = $(this).index();
			$(".stuff").eq(labelindex).siblings().hide("fast");
			$(".stuff").eq(labelindex).show("fast");
			$(this).addClass("shown").removeClass("hidden");
			$(this).siblings().addClass("hidden").removeClass("shown");
		});
	});
</script>
<script type='text/javascript'>
	$(document).ready(function(){
		$(".buybutt").click(function(){
			$(".buybutt").show("fast");
			$(".buystuff").hide("fast");
			$(this).hide("fast");
			$(this).next().show("fast");
		});
	});
</script>
{% endblock %}
{% block title %}{{ product.title }}{% endblock %}
{% block category %}<img src="{{ url_for('static', filename='paint_varnish_top.png') }}" alt="CATEGORY WHENEVER I DO THIS" width=590 height=29>{% endblock %}
{% block content %}
	<div id="text">{{ product.text|safe }}</div>
	<div id="image"><img src='http://www.swingpaints.com/images/lg/{{ product.id }}.jpg' id="picture" alt="{{ product.title }}"></div>
	<script type='text/javascript'>
		$("#text").css('display','none');
		$("#picture").load(function(){
			var txt = $("#image").width();
			var txt2 = 555 - txt
			$("#text").css('display','inline');
			$("#text").css('width', txt2);
		});
	</script>
</div>
<script type='text/javascript'>
	$(window).load(function(){
		var hgt = $("#image").height();
		$("#content").css('height', hgt+10);
	});
</script>
<div id="container2" style="width:580;position:relative;">
	<div style="width:100%;height:19px;position:relative;z-index:2;">
		<a class="shown label" href="#">More Info</a>
		<a class="hidden label" href="#">Directions</a>
		<a class="hidden label" href="#">Buy Now</a>
		<a class="hidden label" href="#">Demonstrations</a>
	</div>
	<div id="switch" style="background:#eee;padding-top:24px;padding-left:5px;padding-right:5px;padding-bottom:5px;border:1px solid #000000;position:absolute;top:0px;width:97.3%;">
		<!--<div style="width:50%;position:absolute;left:0;top:0;text-align:left;font-weight:bold">
		{% for item in product.info2: %}
			&#8226;{{ item | safe }}<br />
		{% endfor %}
		</div>-->
		<div class="stuff"><div id="infotable" style="position:absolute;left:5px;top:24px;width:50%"><table style="text-align:center;font-size:10;width:100%">
			<tr>
				<td colspan="2" style="vertical-align: middle;background: #f6f6f6;height:24;">
					<b>Product Code: </b>{{ product.id }}
				</td>
			</tr>
			<tr>
				<td style="width:58%">Size:</td>
				<td style="width:42%">Case Pack:</td>
			{% for item in product.info: %}
				{% if loop.index is not divisibleby(2) %}</tr><tr>{% endif %}
				<td style="font-weight:normal">{{ item | safe }}</td>
			{% endfor %}
			</tr>
		</table>
		<div style="text-align:left;padding-right:2">
			{% if product.id == '400.499': %}
			<a href="/aqua_color_swatches.htm" class="directions">Colour Swatches</a>
			{% elif product.id == '770.799': %}
			<a href="/color_swatches.htm" class="directions">Colour Swatches</a>
			{% elif product.id == '705' or product.id == '3220' or product.id == '1800' or product.id == '1806' or product.id == '1820' or product.id == '1800': %}
			<a href="/right_stripper.htm" class="directions">Choosing the Right Stripper</a>
			{% elif product.id == '760.769' or product.id ==  '1600.1603' or product.id ==  '1604' or product.id ==  '1803' or product.id ==  '2101' or product.id ==  '1555' or product.id ==  '8172' or product.id ==  '1527' or product.id ==  '1557' or product.id ==  '1566' or product.id ==  '1418': %}
			<a href="/right_finish.htm" class="directions">Choosing the Right Finish</a>
			{% endif %}
		</div></div></div>
		<div class="stuff" style="display:none;">{{ product.dir | safe }}</div>
		<div class="stuff" style="display:none;text-align:center;">
			<div class="buybutt">
				<a href="#"><img src="{{ url_for('static', filename='buy_butt_us_grey.png') }}" width="214" height="80" border="0"></a>
			</div>
			<div class="buystuff" style="display:none;height:80;">
				us stuff
			</div>
			<div class="buybutt">
				<a href="#"><img src="{{ url_for('static', filename='buy_butt_can_grey.png') }}" width="214" height="80" border="0"></a>
			</div>
			<div class="buystuff" style="display:none;height:80;">
				can stuff
			</div>
		</div>
		<div class="stuff" style="display:none;">
		{{  product.demo | safe }}
		</div>
	</div>
	<script type='text/javascript'>
		$(window).load(function(){
			var hht = $("#infotable").height();
			$("#switch").css('height', hht);
			$("#container2").css('height', hht+50);
		});
	</script>
{% endblock %}
