{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="description" content="This is a Swing Paints product page for {{ product.title | replace('<br>', ' ') | safe }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/product.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock %}
{% block title %}{{ product.title | replace("<br>", " ") | safe }}{% endblock %}
{% block categorytext %}{{ category | safe }}{% endblock %}
{% block content %}
	<div class="group">
		<div id="image"><img src="{{ url_for('static', filename='images/lg/%s.jpg' % product.id ) }}" id="picture" alt="{{ product.title | replace('<br>', ' ') | safe }}"></div>
		<div id="text"><span id="product-title">{{ product.title | replace('<br>', ' ') | safe }}</span><p>{{ product.text | safe }}</p></div>
	</div>
	<div id="tabs" class="group">
		<div class="label directions"><span>Directions</span></div>
		<div class="stuff directions">
			{% if product.directions %}
			<p>{{ product.directions | safe }}</p>
			{% else %}
			<p>No directions available.</p>
			{% endif %}
		</div>
		<div class="label more-info"><span>More Info</span></div>
		<div class="stuff more-info group">
			<div id="infotable">
				<table>
					<tr>
						<td colspan="2">
							<b>Product Code: </b>{{ product.id }}
						</td>
					</tr>
					<tr>
						<td>Size:</td>
						<td>Case Pack:</td>
					</tr>
					{% for item in product.infotable: %}
					<tr>
						<td>{{ item[0] | safe }}</td>
						<td>{{ item[1] | safe }}</td>
					</tr>
					{% endfor %}
				</table>
				<p style="text-align:left;">
					{% if product.id == 400 %}
					<a href="{{ url_for('aquacolour') }}" target="_blank">Colour Swatches</a>
					{% elif product.id == 709 %}
					<a href="{{ url_for('static', filename='colour_swatches_709.pdf') }}" target="_blank">Colour Swatches</a>
					{% elif product.id == 760 or product.id == 762 %}
					<a href="{{ url_for('static', filename='colour_swatches_760.pdf') }}" target="_blank">Colour Swatches</a>
					{% elif product.id == 770 %}
					<a href="{{ url_for('static', filename='colour_swatches_770.pdf') }}" target="_blank">Colour Swatches</a>
					{% elif product.id == 3220 or product.id == 3200 or product.id == 1800 or product.id == 1806 or product.id == 1820 or product.id == 1801 %}
					<a href="{{ url_for('rightstripper') }}" target="_blank">Choosing the Right Stripper</a>
					{% elif product.id == 760 or product.id ==  1600 or product.id ==  1807 or product.id ==  1802 or product.id ==  1604 or product.id ==  1819 or product.id ==  1818 or product.id ==  1817 or product.id ==  1805 or product.id ==  1815 or product.id ==  1803 or product.id ==  2100 or product.id ==  1555 or product.id ==  8100 or product.id ==  1527 or product.id ==  1557 or product.id ==  1566 or product.id ==  1418 %}
					<a href="{{ url_for('rightfinish') }}" target="_blank">Choosing the Right Finish</a>
					{% endif %}
				</p>
			</div>
			<div id="infotext">
				<ul>
				{% for item in product.infolist: %}
					<li>{{ item[0] | safe }}</li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<div class="label purchase"><span>Purchase</span></div>
		<div class="stuff purchase group">
			<p>Our products are available at many retail locations. To find a store near you, please click on <a href="{{ url_for('locations') }}">WHERE TO BUY</a>.</p>
			<p>You may also purchase our products using our online store by clicking <a class="buybutt">BUY NOW CANADA</a> or <a class="buybutt">BUY NOW USA</a>.</p>
			<div class="buystuff">
				<form method="post" action="https://www.aitsafe.com/cf/add.cfm">
					<input type="hidden" value="4388412" name="userid">
					<input type="hidden" value="0" name="currency">
					<input type="hidden" value="0" name="lg">
					<input type="hidden" value="{{ url_for('product',productid=product.id,_external=True) }}" name="return">
					{% if product.forms_can %}
					<select style="font-size:12px" name="productpr">
					{{ product.forms_can | safe }}
					</select>
					<input type="submit" style="font-size:12px" value="Add to Canada cart">
					{% else %}
					<select style="font-size:12px" name="productpr" disabled>
						<option value=":0.00"> Not Available for Online Purchase </option>
					</select>
					<input type="submit" style="font-size:12px" value="Add to Canada cart" disabled>
					{% endif %}
				</form>
			</div>
			<div class="buystuff">
				<form method="post" action="https://www.aitsafe.com/cf/add.cfm">
					<input type="hidden" value="4388412" name="userid">
					<input type="hidden" value="1" name="currency">
					<input type="hidden" value="0" name="lg">
					<input type="hidden" value="{{ url_for('product',productid=product.id,_external=True) }}" name="return">
					{% if product.forms_us %}
					<select style="font-size:12px" name="productpr">
					{{ product.forms_us | safe }}
					</select>
					<input type="submit" style="font-size:12px" value="Add to US cart">
					{% else %}
					<select style="font-size:12px" name="productpr" disabled>
						<option value=":0.00"> Not Available for Online Purchase </option>
					</select>
					<input type="submit" style="font-size:12px" value="Add to US cart" disabled>
					{% endif %}
				</form>
			</div>
			<p id="buyreturn"><a>Return</a></p>
		</div>
		<div class="label demonstrations"><span>Demonstrations</span></div>
		<div class="stuff demonstrations">
			{% if product.demo %}
			<iframe id="iframe" src="//www.youtube-nocookie.com/embed/{{ product.demo }}" allowfullscreen></iframe>
			{% else %}
			<p>No demonstration available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
