{% extends "base.html" %}
{% block head %}
{{ super() }}
	<style>
		#content ul {
			list-style: none;
			padding: 0px;
			width:25%;
			float:left;
		}
		#content li {display: block; vertical-align: top;}
		#content li:nth-child(1):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/green_circle.jpg') }}');
		}
		#content li:nth-child(2):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/check.jpg') }}');
		}
		#content li:nth-child(3):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/x.jpg') }}');
		}
		#content table {
			font-size:9px;
			width:100%;
			margin-left:4px;
		}
		#content td {
			height:20px;
			width:14.285%;
			text-align:center;
			padding-left:5px;
			padding-right:5px;
		}
		#content tr:nth-child(1) td, #content td:nth-child(1) {
			color:#ffffff;
			background:#999999;
			font-weight:bold;
		}
		#content table a {
			color:#ffffff;
			text-decoration:underline;
		}
		#content table a:hover {
			color:#1D432F;
			text-decoration:underline;
		}
		.check, .circle, .x, .flame{
			background-repeat:no-repeat;
			background-position:center center;
		}
		.check {
			background-image:url('{{ url_for('static', filename='images/check.jpg') }}');
		}
		.circle {
			background-image:url('{{ url_for('static', filename='images/green_circle.jpg') }}');
		}
		.x {
			background-image:url('{{ url_for('static', filename='images/x.jpg') }}');
		}
		.flame {
			background-image:url('{{ url_for('static', filename='images/flame.jpg') }}');
		}
	</style>
{% endblock %}
{% block title %}Swing Paints - Right Stripper{% endblock %}
{% block categorytext %}Choosing the Right Stripper{% endblock %}
{% block content %}
	<table border="1" cellspacing="0">
		<tr>
			<td>PRODUCT</td>
			<td><a href="{{ url_for('product', productid='1820') }}">SOFT STRIPPER</a></td>
			<td><a href="{{ url_for('product', productid='1800') }}">FURNITURE STRIPPER</td>
			<td><a href="{{ url_for('product', productid='1801') }}">FURNITURE REFINISHER</td>
			<td><a href="{{ url_for('product', productid='1806') }}">HEAVY BODY P&amp;V REMOVER</td>
			<td><a href="{{ url_for('product', productid='3200') }}">SUPER DEGOOPER</td>
			<td><a href="{{ url_for('product', productid='3220') }}">WOOD BLEACH</td>
		</tr>
		<tr>
			<td>PAINT<br />-<br />OIL</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>PAINT<br />-<br>LATEX</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>PAINT<br />-<br>EPOXY</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>POLY-<br />URETHANE</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>VARNISH</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>LACQUER</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>SHELLAC</td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>OPAQUE STAIN</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
		</tr>
		<tr>
			<td>DYE STAIN</td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>INTERIOR</td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>EXTERIOR</td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>NON-<br />FLAMMABLE</td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="flame"></td>
			<td class="circle"></td>
			<td class="flame"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>SPEED</td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
		</tr>
		<tr>
			<td>GRAIN RAISE</td>
			<td>SLIGHT</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>NEUTRALIZE</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>SAFE FOR ANTIQUES</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
		</tr>
	</table>
	<ul>
		<li>BEST</li>
		<li>GOOD</li>
		<li>DO NOT USE</li>
	</ul>
	<p>
		Got a specific stripping problem and you're still not sure which product is best? Feel free to post your question on the <a style="text-decoration:underline;" href="{{ url_for('forum') }}">INTERACTIVE FORUM</a> to receive the most PERSONALIZED response.
	</p>
{% endblock %}
