{% extends "base.html" %}
{% block head %}
{{ super() }}
	<style>
		#content ul {
			list-style: none;
			padding: 0px;
			margin: 5px 0;
			width:25%;
			float:left;
			position:relative;
		}
		#content li {display: block; vertical-align: top;}
		#content li:nth-child(1):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/green_circle.jpg') }}');
		}
		#content li:nth-child(2):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/check.jpg') }}');
		}
		#content li:nth-child(3):before{
			margin-right:10px;
			content:url('{{ url_for('static', filename='images/x.jpg') }}');
		}
		#container {
			width:1042px;
		}
		table {
			font-size:9px;
			width:500px;
			margin-left:4px;
		}
		td {
			text-align:center;
			padding-left:5px;
			padding-right:5px;
		}
		tr:nth-child(1) td, td:nth-child(1) {
			color:#ffffff;
			background:#999999;
			font-weight:bold;
		}
		table a {
			color:#ffffff;
		}
		table a:hover {
			color:#1D432F;
			text-decoration:underline;
		}
		.check, .circle, .x, .flame{
			background-repeat:no-repeat;
			background-position:center center;
		}
		.check {
			background-image:url('{{ url_for('static', filename='images/check.jpg') }}');
		}
		.circle {
			background-image:url('{{ url_for('static', filename='images/green_circle.jpg') }}');
		}
		.x {
			background-image:url('{{ url_for('static', filename='images/x.jpg') }}');
		}
		.flame {
			background-image:url('{{ url_for('static', filename='images/flame.jpg') }}');
		}
	</style>
{% endblock %}
{% block title %}Swing Paints - Stain 'n Varnish Colour Swatches{% endblock %}
{% block categorytext %}Choosing the Right Stripper{% endblock %}
{% block content %}
	<table border="1" cellspacing="0">
		<tr>
			<td colspan="2">PRODUCT</td>
			<td>PAINT<br />-<br />OIL</td>
			<td>PAINT<br />-<br>LATEX</td>
			<td>PAINT<br />-<br>EPOXY</td>
			<td>POLY-<br />URETHANE</td>
			<td>VARNISH</td>
			<td>LACQUER</td>
			<td>SHELLAC</td>
			<td>OPAQUE STAIN</td>
			<td>DYE STAIN</td>
			<td>INTERIOR</td>
			<td>EXTERIOR</td>
			<td>NON-<br />FLAMMABLE</td>
			<td>SPEED</td>
			<td>GRAIN RAISE</td>
			<td>NEUTRALIZE</td>
			<td>SAFE FOR ANTIQUES</td>
		</tr>
		<tr height="46px">
			<td><a href="/product/1820">SOFT STRIP</a></td>
			<td style="padding:0;"><img src="{{ url_for('static', filename='images/tn/1820.jpg') }}" width="46px" height="46px" border="0"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td>SLIGHT</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr height="46px">
			<td><a href="/product/1820">FURNITURE STRIPPER</a></td>
			<td style="padding:0;"><img src="{{ url_for('static', filename='images/tn/1800.jpg') }}" width="46px" height="46px" border="0"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr height="46px">
			<td><a href="/product/1820">FURNITURE REFINISHER</a></td>
			<td style="padding:0;"><img src="{{ url_for('static', filename='images/tn/1801.jpg') }}" width="46px" height="46px" border="0"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="flame"></td>
			<td class="circle"></td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr height="46px">
			<td><a href="/product/1820">HEAVY BODY P&amp;V REMOVER</a></td>
			<td style="padding:0;"><img src="{{ url_for('static', filename='images/tn/1806.jpg') }}" width="46px" height="46px" border="0"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr height="46px">
			<td><a href="/product/1820">SUPER DEGOOPER</a></td>
			<td style="padding:0;"><img src="{{ url_for('static', filename='images/tn/3200.jpg') }}" width="46px" height="46px" border="0"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="check"></td>
			<td class="x"></td>
			<td class="flame"></td>
			<td class="circle"></td>
			<td>NO</td>
			<td>NO</td>
			<td>YES</td>
		</tr>
		<tr height="46px">
			<td><a href="/product/1820">WOOD BLEACH</a></td>
			<td style="padding:0;"><img src="{{ url_for('static', filename='images/tn/3220.jpg') }}" width="46px" height="46px" border="0"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="x"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td class="circle"></td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
		</tr>
	</table>
	<ul>
		<li>BEST</li>
		<li>GOOD</li>
		<li>DO NOT USE</li>
	</ul> 
	<div style="float:right;position:relative;width:75%;margin-top:5px;">
		Got a specific stripping problem and you're still not sure which product is best? Feel free to post your question on the <a style="text-decoration:underline;" href="http://www.swingpaints.com/forum.asp">INTERACTIVE FORUM</a> to receive the most PERSONALIZED response
	</div>
{% endblock %}